article{
    margin: 20px auto;
    padding: 10px;
    width: 1200px;
    background-color: #dfe3e7;
}
.article-tablas article{
    margin: 20px auto;
    padding: 10px;
    width: 1200px;
    background-color: #dfe3e7;
}
.table{
    padding: 2rem 0 0 0;
}
.sub-titulo{
    display: flex;
    flex-direction: column;
    align-items: start;   
    padding-left: 0rem; 
}
.grupo-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    padding: 2rem 0 0 0;

}
.input-format-2{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all;
}

.input-format-2:focus{
    background: var(--color-white);
    box-shadow: var(--shadow-1);
    transform: scale(1.02);
}

.input-format-2:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Manrope';
}
.header_table {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
    font-weight: bold;
}

.header_table thead th {
    top: 0;
    background-color: #085262;
    color: #e6e7e8;
    font-size: 1.125rem;
    font-weight: bold;
}
th,td {
    max-width: 100px;
    border-bottom: 1px solid #000000;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    background-color: #dfe3e7;
}
tr:hover td {
    color: #3a42b4;
    cursor: pointer;
    background-color: #ffffff;
}
@media screen and (max-width: 1024px){
    table{
        width: 130%;
        border-collapse: collapse;
        font-family: 'Manrope';
        margin-left: 25rem;
    }
    .sub-titulo{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin-left: 25rem;  
    }
  }