/* contenedor guia */
html{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}    
.contePlantilla{
    height: 32em;
    width: 60em;
    border: none;
    background-color: none; 
    width: 80%;
    height: 500px;
    justify-content: center;
    margin: 14em auto; 
} 
.contenedor-formulario{
    padding: 20px 0px 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grupo-input2{
    display: block;
    grid-column: span 1;

}
.grupo-input{
    display: block;
}
.grupo-input-datos-generales{
    display: block;
}

.label-form{
    padding-bottom: 10px;
}

.input-format{
    width: 100%;
}

.input-textarea{
    width: 100%;
}
.boton_registrar{
    display: flex;
    flex-direction: column;
    align-items: center;}

hr{
    color: gray;
}