/*----------------------- Encabezados --------------------------*/
h3{
    color: var(--color-black);
    font-size: 54px;
    font-weight: 800;
}
/* =================== SUBTITULOS ============== */
.subtitulo-1{
    color: var(--color-black);
    font-size: 28px;
    font-weight: 700;
}

/* =================== LARGE LABELS =================== */

.label-2{
    color: var(--color-black);
    font-size: 1.25rem;
    font-weight: 600;
}
/* ====================  LINKS =====================*/
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 16px;
}

.input-format-2{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all;
    width: 100%;
}
/*-------------------------------- Animaciones de las cajas de texto ----------------------*/
.input-format-2:focus{
    background: var(--color-white);
    box-shadow: var(--shadow-1);
    transform: scale(1.02);
}

.input-format-2:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}

/* contenedor guia */
html{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}    
.contenedortrabajadores{
    height: 32em;
    width: 60em;
    border: none;
    background-color: none; 
    width: 80%;
    height: 500px;
    justify-content: center;
    margin: 14em auto; 
} 
.contenedor-formulario{
    padding: 20px 0px 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grupo-input2{
    display: block;
    grid-column: span 1;

}
.grupo-input{
    display: block;
}
.grupo-input-datos-generales{
    display: block;
}

.label-form{
    padding-bottom: 10px;
}

.input-format{
    width: 100%;
}

.input-textarea{
    width: 100%;
}
.boton_registrar{
    display: flex;
    flex-direction: column;
    align-items: center;}

hr{
    color: gray;
}

/*Responsive*/
.icon__menu{
    font-size: 34px;
    color: #000000;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

.label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 1450px){
    li.logo_menu{
        display: none;
    }
    h1.nombre_Ventana{
        color: #FFFF;
        font-weight: 900;
        font-size: 30px;
    }
    .container_menu{
        height: fit-content;
    }
    .btn-cerrar-session{
        display: flex;
    }

    .header_superior{
        padding: 5px;
        height: fit-content;
        width:auto;
    }
    .titulo{
        font-size: 8px;
    }
    .logo{
        width: 125px;
    }

    nav > ul{
        font-size: 12px;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 95px;
        width: 100%;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        *visibility: hidden;
    }
    
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    
    nav ul li ul{
        left: 100px;
    }

    nav > ul > li:hover ul{
        top: 20px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);

    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 70%;
        visibility: visible;
        opacity: 1;
    }
    .contePlantilla{
        margin: 8em auto; 
    }
}
@media screen and (max-width: 650px){
    .header_superior{
        align-items: center;
        display: list-item;
    }
    nav > ul {
        top: 120px;
    }
}
