@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #273544;
    --color-secondary: #303a6e;
    --color-tertiary: #3f4552;
    --color-quaternary: #61a8ab;
    --color-quinary: #085262;

    --color-white: #ffffff;
    --color-gray: #dfe3e7;
    --color-gray-2: #d6dbe0;
    --color-black: #000000;

    --color-placeholder-1: #93979b;
    --color-placeholder-2: #7c838a;
    --color-placeholder-3: #474a57;

    --color-red: #ff0000;

    --radius-1: 15px;
    --radius-2: 8px;

    --shadow-1:3px 5px 5px 1px rgba(128, 126, 126, 0.553);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

body{
    color: var(--color-black);
    background-color: var(--color-gray);
    padding: 0 16px;
}

h1{
    color: var(--color-black);
    font-size: 20px;
    font-weight: 800;
}

h3{
    color: var(--color-black);
    font-size: 15px;
    font-weight: 800;
}
/*------------------ Etiquetas del contenedor------------------*/
.label-3{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(45.5%,-0%);
    padding: 20px;
    
}

.etiquetanombre{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(8.5%,-0%);
    padding: 20px;
    
}
.etiqueta_apellido_paterno{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(41%,-159.5%);
    padding: 20px;
}
.etiqueta_apellido_materno{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(75%,-315.5%);
    padding: 20px;
}
.etiqueta_correo{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(3.5%,-315.5%);
    padding: 20px;
}
.etiqueta_telefono{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(43%,-475.5%);
    padding: 20px;
}
.etiqueta_contrasena{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    transform: translate(76%,-634.5%);
    padding: 20px;
}
/*---------------------------- Sesión contenedores ----------------------*/
.contenedor_global{
    background: #e8ebea;
    width: 800px;
    height: 500px;
    justify-content: center;
    margin: 0 auto;  
}

.contenedor_elementos{
    background: #e8ebea;
    width: 800px;
    height: 500px;
    justify-content: center;
    margin: 0 auto; 
    text-align: center;
    align-items: center;
    padding: 20px;
}

/*---------------------------------  Cajas de texto ------------------------- */
.caja_rfc{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(115.5%,-0%);
}

.caja_nombre{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(-0.5%,-0%);
}
.caja_apellido_paterno{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(115%,-252.5%); 
}
.caja_apellido_materno{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(224%,-505.5%);
}
.caja_correo{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(0.5%,-505.5%);
}
.caja_telefono{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(115%,-758.5%); 
}
.caja_contrasena{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(224%,-1010.5%); 
}

/*--------------------------------- Sección Botones ---------------------------------- */
.boton_registrar{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 10px 20px;
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
    transform: translate(-70.5%,-700.5%); 
}
.boton_modificar{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 10px 20px;
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
    transform: translate(-30.5%,-700.5%); 
}
.boton_eliminar{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 10px 20px;
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
    transform: translate(10.5%,-700.5%); 
}
.boton_consultar{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 10px 20px;
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
    transform: translate(50%,-700.5%); 
}