section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
    font-size: 1.5rem;
}

h4 {
    text-align: center;
    font-weight: 400;
}