<script src="../../view/login/js/Login_Inicio.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login/login.css">
    <title>Login</title>
</head>
<body>
    <div class="contentP">
        <div class="contLogin">
            <div class="contLogo">
                <img class="img" src="../../public/img/ciscigCompleto.png" alt="">
            </div>
            <p class="label-2">Iniciar sesión</p>
            <br>
            <div id="Mensaje"></div>
            <div class="campos">
                <form action="" id="formulario_login">
                    <br>
                    <p class="label-3">Correo electrónico</p>
                    <input type="email" name="usuario" id="usuario" class="input-format" maxlength="40" placeholder="someone@example.com"
						title="El email solo puede contener letras mayúsculas, minúsculas, números y caracteres especiales (., -, _, @)."> 

                    <br>
                    <br>
                    <p class="label-3">Contraseña</p>
                    <input type="password" name="password" id="password" class="input-format" maxlength="16" placeholder="Ingrese su contraseña"
                    title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al menos uno debe ser una mayúscula, una minúscula, un número y un carácter especial (., ',' , _, +, *, /, !, @, #, $).">
                    <br>
                    <br>
                    <div class="boton">
                        <input type="submit" class="btn-medium btn" value="Ingresar" >
                    </div>
                    <br>
                </form> 
                
                <div class="info">
                    <p class="label-3">¿No tienes cuenta? <a href="/view/registro/Reg_Empresa.html">Regístrate</a></p> 
                    <br>
                    <br>
                    <a href="recuperar_Contra1.html">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
        <div class="contImg">
            <img class="imgG" src="../../public/img/Complemento.png" alt="">
        </div>
    </div>
    <script src="js/Login_In.js"></script>
</body>
</html>