<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login/recuperar_Contra.css">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="contentP">
        <div class="contLogo">
            <img class="img" src="../../public/img/ciscigCompleto.png" alt="">
        </div> 
        <br>
        <p class="label-2">Cambiar contraseña</p>
        <br> 
        <form action="">
            <div class="campos">
                <p class="label-3">Contraseña</p>
                <input type="password" name="password" id="password" class="input-format" maxlength="16" placeholder="Ingrese su contraseña"
                    title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al menos uno debe ser una mayúscula, una minúscula, un número y un carácter especial (., ',' , _, +, *, /, !, @, #, $).">
                <br>
                <p class="label-3">Confirmar contraseña</p>
                <input type="password" name="password" id="password" class="input-format" maxlength="16" placeholder="Confirme su contraseña"
                    title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al menos uno debe ser una mayúscula, una minúscula, un número y un carácter especial (., ',' , _, +, *, /, !, @, #, $).">
                <br>   
            </div> 
            <br>
            <br>
            <div class="boton">
                <input type="submit" class="btn-medium btn" value="Enviar código" >
            </div>
        </form>
    </div>
</body>
</html>