<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login/recuperar_Contra.css">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="contentP">
        <div class="contLogo">
            <img class="img" src="../../public/img/ciscigCompleto.png" alt="">
        </div> 
        <br>
        <div class="camposM">
            <br>
            <p class="label-2">La contraseña ha sido cambiada con éxito !!</p>
        </div>
        <br> 
        <div class="boton">
            <input type="button" onclick="window.location.href = '../../view/login/login.html'" class="btn-medium btn" value="Regresar a Login" >
        </div>
    </div>
</body>
</html>