<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login/Recuperar_Contra.css">
    <link rel="icon" href="../../public/img/ciscig-notch.png" sizes="32x32">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="contentP">
        <div class="contLogo">
            <img class="img" src="../../public/img/ciscigCompleto.png" alt="">
        </div> 
        <br>
        <p class="label-2">Restablecer contraseña</p>
        <br> 
        <form action="" id="formulario">
            <div class="campos">
                <p class="label-3">Para recuperar su cuenta, comience ingresando su correo electrónico</p>
                <br>
                <div class="mensaje" id="Mensaje"></div>
                <p class="label-3">Correo electrónico</p>
                <input type="email" class="input-format" id="usuario" name="usuario" maxlength="40" placeholder="someone@example.com"
                    title="El email solo puede contener letras mayúsculas, minúsculas, números y caracteres especiales (., -, _, @)."> 
                <br>
            </div> 
            <br>
            <br>
            <br>
            <div class="boton">
                <input type="submit" class="btn-medium btn" value="Enviar" >
            </div>
        </form>
    </div>
    <script src="js/Existencia_Usuario.js"></script>
</body>
</html>