@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #273544;
    --color-secondary: #303a6e;
    --color-tertiary: #3f4552;
    --color-quaternary: #61a8ab;
    --color-quinary: #085262;

    --color-white: #ffffff;
    --color-gray: #dfe3e7;
    --color-gray-2: #d6dbe0;
    --color-black: #000000;

    --color-placeholder-1: #93979b;
    --color-placeholder-2: #7c838a;
    --color-placeholder-3: #474a57;

    --color-red: #ff0000;
    --color-red-2: #8a0000;

    --radius-1: 15px;
    --radius-2: 8px;

    --shadow-1:3px 5px 5px 1px rgba(128, 126, 126, 0.553);
    --shadow-2: 0 0 4px 5px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body{
    background-color: var(--color-gray);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
}

/* Main y section */
.section-main{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.btn-danger {
    background: var(--color-red-2);
}

.btn-medium2{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 10px 20px;
    border: none;
    background: var(--color-red-2);
    color: var(--color-white);
    transition: all 300ms;
}

.btn-small:hover {
    background:var(--color-red); /* Nuevo color de fondo cuando el mouse está sobre el botón */
}
.cabezera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

h1.nombre_Ventana{
    color: #FFFF;
    font-weight: 900;
    font-size: 48px;
}
.conteTabla{
    align-items: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Manrope'; 
    margin: auto;
}
.header_table {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}
.header_table2 {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_table thead th {
    top: 0;
    background-color: #085262;
    color: #e6e7e8;
    font-size: 1.125rem;
}
.header_table2 thead th {
    top: 0;
    background-color: #085262;
    color: #e6e7e8;
    font-size: 1.125rem;
}
th,td {
    max-width: 150px;
    border-bottom: 1px solid #000000;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    background-color: #dfe3e7;
}
tr:hover td {
    color: #3a42b4;
    cursor: pointer;
    background-color: #ffffff;
} 

/*----------------------- Encabezados --------------------------*/
h3{
    color: var(--color-black);
    font-size: 54px;
    font-weight: 800;
}
/* =================== SUBTITULOS ============== */
.subtitulo-1{
    color: var(--color-black);
    font-size: 28px;
    font-weight: 700;
}

/* =================== LARGE LABELS =================== */

.label-2{
    color: var(--color-black);
    font-size: 1.25rem;
    font-weight: 600;
}
/* ====================  LINKS =====================*/
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 16px;
}

.input-format{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------------------- Animaciones de las cajas de texto ----------------------*/
.input-format:focus{
    background: var(--color-gray-2);
    box-shadow: var(--shadow-1);
    transition: all 300ms;
}

.input-format:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}

.input-format::placeholder{
    color: var(--color-placeholder-1);
    font-size: 1rem;
    font-weight: 400;
}

.input-format2{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------------------- Animaciones de las cajas de texto ----------------------*/
.input-format2:focus{
    background: var(--color-gray-2);
    box-shadow: var(--shadow-1);
    transition: all 300ms;
}

.input-format2:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}

.input-format2::placeholder{
    color: var(--color-placeholder-1);
    font-size: 1rem;
    font-weight: 400;
}
/* contenedor guia */
html{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}    
.contenedorregistro{
    height: 32em;
    width: 90%;
    border: none;
    background-color: none; 
    width: 80%;
    height: 500px;
    justify-content: center;
    margin: 6em auto; 
} 
.contenedor-formulario{
    padding: 20px 0px 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grupo-input2{
    display: block;
    grid-column: span 1;

}
.grupo-input{
    display: block;
}
.grupo-input-datos-generales{
    display: block;
}

.label-form{
    padding-bottom: 10px;
}

.input-format{
    resize: none;
    width: 100%;
}
.input-format2{
    resize: none;
    width: 140%;
}

.input-textarea{
    width: 100%;
}
.boton_registrar{
    display: flex;
    flex-direction: column;
    align-items: center;}

hr{
    color: gray;
}
.boton {
    display: flex;
    justify-content: right;
    width: 100%;
}
.btn-medium1 {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
    transition: all 300ms;
}
/*Responsive*/
.icon__menu{
    font-size: 34px;
    color: #000000;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

.label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 1250px){
    main{
        margin-top: 8.5rem;
    }
    li.logo_menu{
        display: none;
    }
    h1.nombre_Ventana{
        color: #FFFF;
        font-weight: 900;
        font-size: 30px;
    }
    .container_menu{
        height: fit-content;
    }
    .btn-cerrar-session{
        display: flex;
    }

    .header_superior{
        padding: 5px;
        height: fit-content;
        width:auto;
    }
    .titulo{
        font-size: 8px;
    }
    .logo{
        width: 125px;
    }

    nav > ul{
        font-size: 12px;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 169px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    
    nav ul li ul{
        left: 100px;
    }

    nav > ul > li:hover ul{
        top: 20px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);

    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 70%;
        visibility: visible;
        opacity: 1;
    }
    .contePlantilla{
        margin: 8em auto; 
    }
}

@media screen and (max-width: 760px) {
    .nombre_Ventana{
        font-size: 1rem;
    }
}

@media screen and (max-width: 650px){

    main{
        margin-top: 10.5rem;
    }
    img.logo_ciscig{
        padding-right: 10px;
        width: 54px;
    }

    .titulo{
        padding: 0 1rem;
    } 

    .contenedor-formulario{
        display: flow-root;
    }
    .input-format2{
        resize: none;
        width: 100%;
    }
    
}
