@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #273544;
    --color-secondary: #303a6e;
    --color-tertiary: #3f4552;
    --color-quaternary: #61a8ab;
    --color-quinary: #085262;

    --color-white: #ffffff;
    --color-gray: #dfe3e7;
    --color-gray-2: #d6dbe0;
    --color-black: #000000;

    --color-placeholder-1: #93979b;
    --color-placeholder-2: #7c838a;
    --color-placeholder-3: #474a57;

    --color-red: #ff0000;

    --radius-1: 15px;
    --radius-2: 8px;

    --shadow-1:3px 5px 5px 1px rgba(128, 126, 126, 0.553);
    --shadow-2: 0 0 4px 5px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body{
    background-color: var(--color-gray);
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_ciscig{
    padding-right: 10px;
    width: 210px;
}

.boton-cerrar-session{
    padding-right: 50px;
}

.btn-cerrar-session{
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 12px 24px;
    border: none;
    background: var(--color-quaternary);
    color: var(--color-white);
    transition: all 300ms;
}

.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.logo{
    width: 150px;
}

.logo:hover{
    cursor: pointer;
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
}

nav{
    height: 100%;
}

nav > ul{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: inline-flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    text-decoration: none;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    transition: all 300ms ease;
    color: #000000;
    padding-inline: 12px;
}

i{
    padding: 5px;
    font-size: 16px;
}

nav > ul > li > a:hover{
    color: #61A8AB;
    box-shadow: 0px 0px px 1px #61A8AB;
    transform: scale(1.05);
}

/*SUBMENU*/
nav ul li ul{
    width: 150px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 100px;
    left: -5px;
    padding: 14px 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left:12px solid transparent ;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    text-decoration: none;
    display: block;
    color: #000000;
    padding: 6px;
    padding-left: 14px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 800;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    color: #61A8AB;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 800;
}

/*Responsive*/
.icon__menu{
    font-size: 34px;
    color: #000000;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label__check{
    width: 26px;
    height: 100%;
    margin-left: 20px;  
}

#check__menu{
    display: none;
}

@media screen and (max-width: 990px){
    main{
        margin-top: 8.5rem;
    }
    
    .btn-cerrar-session{
        display: flex;
    }

    nav > ul{
        font-size: 12px;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 169px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        *visibility: hidden;
        /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); */
        box-shadow: var(--shadow-1);
    }
    
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    
    nav ul li ul{
        left: 100px;
    }

    nav > ul > li:hover ul{
        top: 20px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);

    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 70%;
        visibility: visible;
        opacity: 1;
        margin-top: -92px;
    }
    .contePlantilla{
        margin: 8em auto; 
    }
}

@media screen and (max-width: 600px){
    .logo_ciscig{
        padding-right: 10px;
        width: 150px;
    }

    .btn-cerrar-session{
        font-size: 0.7rem;
        margin-right: -1.5rem;
    }

    #check__menu:checked ~ nav > ul {
        margin-top: -115px;
    }
}
