@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #273544;
    --color-secondary: #303a6e;
    --color-tertiary: #3f4552;
    --color-quaternary: #61a8ab;
    --color-quinary: #085262;

    --color-white: #ffffff;
    --color-gray: #dfe3e7;
    --color-gray-2: #d6dbe0;
    --color-black: #000000;

    --color-placeholder-1: #93979b;
    --color-placeholder-2: #7c838a;
    --color-placeholder-3: #474a57;

    --color-red: #ff0000;

    --radius-1: 15px;
    --radius-2: 8px;

    --shadow-1:3px 5px 5px 1px rgba(128, 126, 126, 0.553);
    --shadow-2: 0 0 4px 5px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 8.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-main{
    width: 80%;
}

.formulario-generales, .formulario-experiencia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}

.formulario-experiencia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 10px;
}

.formulario-certificaciones, .formulario-academica{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 10px;
    align-items: end;
}
.formulario-academica{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.05fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 10px;
    align-items: end;
}

.botones-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.divisor{
    margin-top: 10px;
}

.especial{
    margin-bottom: 3px;
}
/* ***************************************
*                 INPUTS                 *
******************************************/
.input-format-2{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all;
    width: 100%;
}

.input-format-2:focus{
    background: var(--color-white);
    box-shadow: var(--shadow-1);
    transform: scale(1.02);
}

.input-format-2:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}

.input-textarea-2{
    width: 100%;
    height: 80px;
    resize: none;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all;
}

.input-textarea-2:focus{
    box-shadow: var(--shadow-1);
    transform: scale(1.02);
}

.input-textarea-2:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}

.formulario-descripcion {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
}

/* ***************************************
*                BOTONES                 *
******************************************/

.eliminar-item{
    width: 65%;
    height: 41px;
    background: var(--color-white);
    border: none;
    border-radius: var(--radius-2);
    transition: all 300ms;
    margin-top: -5px;
}

.eliminar-item:hover{
    background: var(--color-red);
}

.ti-trash-x{
    font-size: 1.9rem;
    color: var(--color-red);
    width: 65%;
    height: 110%;
}

.ti-trash-x:hover{
    color: var(--color-white);
}

