@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #273544;
    --color-secondary: #303a6e;
    --color-tertiary: #3f4552;
    --color-quaternary: #61a8ab;
    --color-quinary: #085262;

    --color-white: #ffffff;
    --color-gray: #dfe3e7;
    --color-gray-2: #d6dbe0;
    --color-black: #000000;

    --color-placeholder-1: #93979b;
    --color-placeholder-2: #7c838a;
    --color-placeholder-3: #474a57;

    --color-red: #ff0000;

    --radius-1: 15px;
    --radius-2: 8px;

    --shadow-1: 3px 5px 5px 1px rgba(128, 126, 126, 0.553);
    --shadow-2: 0 0 4px 5px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 6.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-main {
    width: 80%;
}

.titulo-ventana {
    margin-bottom: 1.1875rem;
}

.subtitulo-2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: var(--color-primary);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    margin-top: 0.7rem;
}

.card {
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.descripcion {
    min-height: 50%
}

.lead-2 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}

.buttons {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.5rem;
    }

    .buttons {
        margin-bottom: 12px;
    }
}

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dasharray: 22;
    /* Eliminamos la propiedad stroke-dashoffset */
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: #6cbe45;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

