@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #273544;
    --color-secondary: #303a6e;
    --color-tertiary: #3f4552;
    --color-quaternary: #61a8ab;
    --color-quinary: #085262;

    --color-white: #ffffff;
    --color-gray: #dfe3e7;
    --color-gray-2: #d6dbe0;
    --color-black: #000000;

    --color-placeholder-1: #93979b;
    --color-placeholder-2: #7c838a;
    --color-placeholder-3: #474a57;

    --color-red: #ff0000;

    --radius-1: 15px;
    --radius-2: 8px;

    --shadow-1:3px 5px 5px 1px rgba(128, 126, 126, 0.553);
    --shadow-2: 0 0 4px 5px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

body{
    color: var(--color-black);
    background-color: var(--color-gray);
}

.body2{
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 0 16px;
}

/* =================== ENCABEZADOS =================== */
.h1{
    color: var(--color-black);
    font-size: 96px;
    font-weight: 800;
}

.h2{
    color: var(--color-black);
    font-size: 64px;
    font-weight: 800;
}

.h3{
    color: var(--color-black);
    font-size: 54px;
    font-weight: 800;
}

.h4{
    color: var(--color-black);
    font-size: 40px;
    font-weight: 800;
}

.h5{
    color: var(--color-black);
    font-size: 32px;
    font-weight: 600;
}

.h6{
    color: var(--color-black);
    font-size: 30px;
    font-weight: 500;
}

/* =================== SUBTITULOS ============== */
.subtitulo-1{
    color: var(--color-black);
    font-size: 28px;
    font-weight: 700;
}

.subtitulo-2{
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
}

/* =================== LEADS ============== */

.lead-1{
    color: var(--color-black);
    font-size: 32px;
    font-weight: 400;
}

.lead-2{
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
}

/* =================== TEXTOS =================== */

.body-1{
    color: var(--color-black);
    font-size: 26px;
    font-weight: 400;
}

.body-2{
    color: var(--color-black);
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
}

/* =================== LARGE LABELS =================== */
.label-1{
    color: var(--color-black);
    font-size: 1.875rem;
    font-weight: 600;
}

.label-2{
    color: var(--color-black);
    font-size: 1.25rem;
    font-weight: 600;
}

.label-3{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 600;
}

/* =================== BOTONES =================== */
.btn-small{
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 12px 24px;
    border: none;
    background: var(--color-quaternary);
    color: var(--color-white);
}

.btn-medium{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 10px 20px;
    border: none;
    background: var(--color-quaternary);
    color: var(--color-white);
}

.btn-large{
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 12px 32px;
    border: none;
    background: var(--color-quaternary);
    color: var(--color-white);
}

.btn-xlarge{
    font-size: 1.875rem;
    font-weight: 600;
    border-radius: var(--radius-2);

    padding: 16px 48px;
    border: none;
    background: var(--color-quaternary);
    color: var(--color-white);
}

.btn{
    transition: 0.3s;
}

.btn:hover{
    background: var(--color-primary);
    transition: 300ms all;
    box-shadow: var(--shadow-1);
    transform: scale(1.1);
}


/* ==================== INPUTS =====================*/
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 16px;
}

.input-format{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-format2{
    color: var(--color-black);
    background-color: var(--color-gray);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(17%, -50%);
    width: 500px;

}
.input-textarea{
    height: 100px;
    resize: none;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 10px 20px;
    border: none;
    outline: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

.input-format:focus{
    background: var(--color-gray-2);
    box-shadow: var(--shadow-1);
    transition: all 300ms;
}

.input-format:focus::placeholder{
    color: var(--color-placeholder-2);
    font-weight: 500;
}

.input-format::placeholder{
    color: var(--color-placeholder-1);
    font-size: 1rem;
    font-weight: 400;
}
/* =================== TABLAS =================== */

table{
    width: 100%;
    border-collapse: collapse;
    font-family: '';
}

.header_table {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_table thead th {
    position: sticky;
    top: 0;
    background-color: #085262;
    color: #e6e7e8;
    font-size: 1.125rem;
}

th,td {
    border-bottom: 1px solid #000000;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    background-color: #E9E8EB;
}

tr:hover td {
    color: #3a42b4;
    cursor: pointer;
    background-color: #ffffff;
}

/* =================== NAV =================== */

header{
    box-shadow: var(--shadow-2);
}