<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/plantilla_registro.css">
  
</head>

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          
          <h1 class="nombre_Ventana">Registrate</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
          <button class="btn-cerrar-session btn">Login</button>
      </div>
    </div>

		<!-- Menu Desplegable -->
        <div class="container_menu" >
            
                <div class="menu">
                    <input type="checkbox" id="check__menu">
                    <label id="label__check" for="check__menu">
                        <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
                    </label>
                    <nav>
                        <ul>
                            <li class="logo_menu"><a href="#">
                                <img class="logo_ciscig" src="../../public/img/ciscigCompleto.png" alt="">
                            </a>
                            </li>
                            
                            <li>
                                <a href="Reg_Personal.html">
                                    <i class="fa-solid fa-user"></i>
                                    Personal
                                </a>
    
                                
                            </li>
    
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-users"></i>
                                    Empresarial
                                </a>
    
                                
                            </li>

                    
    
                            
                        </ul>
                    </nav>
                </div>
            
        </div>
	</header>
   
</body>
</html>
