 <html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regístrate</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/plantilla_registro.css">
</head>

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          <img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
          <h1 class="nombre_Ventana">Regístrate</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
          <button class="btn-cerrar-session btn">Login</button>
      </div>
    </div>

    <!-- Menu Desplegable -->
    <div class="container_menu">
      <div class="menu">
        <input type="checkbox" id="check__menu">
        <label id="label__check" for="check__menu">
          <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
        </label>
        <nav>
          <ul>

            <li>
              <a href="Reg_Personal.html">
                <i class="fa-solid fa-user"></i>
                Personal
              </a>

            </li>

            <li>
              <a href="Reg_Empresa.html">
                <i class="fa-solid fa-users"></i>
                Empresarial
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
  
	<div class="contenedorregistro">
		<h3>Registro personal </h3>
		<br>
        <form action="/controller/registro/Reg_personal.php" class="formularios" method="post" enctype="multipart/form-data" id="formulario">
            <p class="subtitulo-1"> Datos personales</p>
            <hr size="1px" />
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Nombre(s)*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su nombre completo" id="nomPerso" name="nomPerso" required maxlength="40"
                        title="El nombre solo puede contener letras mayúsculas, minúsculas y el guión.">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Apellido paterno*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su apellido paterno" id="apePPerso" name="apePPerso"  required maxlength="20"
                        title="El apellido paterno solo puede contener letras mayúsculas y minúsculas.">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Apellido materno</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su apellido materno" id="apeMPerso" name="apeMPerso" maxlength="20"
                        title="El apellido materno solo puede contener letras mayúsculas y minúsculas.">
                    </div>
                </div>
                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Fecha de nacimiento*</p>
                    </div>
                    <div class="input-form">
                        <input type="date" class="input-format"placeholder="Ingrese su fecha de nacimiento" id="fechaNacPerso" name="fechaNacPerso" required maxlength="20">
                    </div>
                </div>
                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Teléfono fijo</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su teléfono fijo " id="telFPerso" name="telFPerso"maxlength="10"
                        title="El número de teléfono solo puede contener números.">
                    </div>
                </div>
                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Teléfono móvil*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su teléfono móvil" id="telMPerso" name="telMPerso" required maxlength="10"
                        title="El número de teléfono solo puede contener números.">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Correo electrónico*</p>
                    </div>
                    <div class="input-form">
                        <input type="email" class="input-format"placeholder="someone@example.com" id="correoPerso" name="correoPerso" required maxlength="40"
                        title="El email solo puede contener letras mayúsculas, minúsculas, números y caracteres especiales (., -, _, @).">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Contraseña*</p>
                    </div>
                    <div class="input-form">
                        <input type="password" class="input-format" placeholder="Ingrese una contraseña" id="contraPerso" name="contraPerso" required maxlength="100"
                        title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al  menos uno debe ser una mayúscula, una minúscula, un número y un carácter especial (., ',' , _, +, *, /, !, @, #, $).">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Confirmar contraseña*</p>
                    </div>
                    <div class="input-form">
                        <input type="password" class="input-format"placeholder="Vuelva a ingresar la contraseña" id="confiContraPerso" name="confiContraPerso" required maxlength="100"
                        title="La contraseña debe contener entre 8 y 16 caracteres, de los cuales al  menos uno debe ser una mayúscula, una minúscula, un número y un carácter especial (., ',' , _, +, *, /, !, @, #, $).">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Cédula</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su cédula profesional" id="cedulaPerso" name="cedulaPerso"  maxlength="8"
                        title="La cedula debe contener entre 7 y 8 números">
                    </div>
                </div>

                

                

                
            </div>

            <br>
            <p class="subtitulo-1">Dirección</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Código postal*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su código postal" id="cpPerso" name="cpPerso" required maxlength="5"
                        title="El código postal solo puede contener números.">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Calle y número*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su calle" id="callePerso" name="callePerso" required maxlength="100"
                        title="La calle y el número solo puenden estar formados por letras mayúsculas, minúsculas y caracateres especiales (., #).">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Colonia*</p>
                    </div>
                    <div class="input-form">
                        <select type="text" class="input-format"placeholder="Ingrese su texto aquí..." id="coloniaPerso" name="coloniaPerso" maxlength="50">
                            <option value="0">Seleccione su colonia</option>
						</select>
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Ciudad*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su ciudad" id="ciudadPerso" name="ciudadPerso"  maxlength="50" readonly>
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Estado*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su estado" id="estadoPerso" name="estadoPerso"  maxlength="50" readonly>
                    </div>
                </div>
            </div>
            
            <br>
            <p class="subtitulo-1"> Educación</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Máximo grado de estudios*</p>
                    </div>
                    <div class="input-form">
                        <select type="text" class="input-format"placeholder="Ingrese su máximo grado de estudios" id="tipoGradoPerso" name="tipoGradoPerso" required maxlength="12">
                        <option value="0" selected disabled>Seleccione su máximo grado de estudios</option>
                        <option value="1">Pasante</option>
                        <option value="2">Licenciatura</option>
                        <option value="3">Maestría</option>
                        <option value="4">Doctorado</option>
                        </select>
                    </div>
                </div>
            </div>
            <br></br>
            <input type="hidden" id="checkboxcertificacionoculto" name="checkboxcertificacionoculto" value="desactivado">
            <input type="checkbox" id="checkboxcertificacion">&nbsp;&nbsp;&nbsp;Deseo agregar una certificación<br>

            <br>
            <p class="subtitulo-1"> Certificación</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Nombre de certificación*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese el nombre de la certificación" id="nomCert" name="nomCert"  maxlength="60"
                        title="El nombre de la certificación puede contener letras mayúsculas, minúsculas, números y caracteres especiales.">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Organización del certificado*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese la organización de la certificación" id="orgCert" name="orgCert" maxlength="50"
                        title="El nombre de la organización puede contener letras mayúsculas, minúsculas, números y caracteres especiales.">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Fecha de inicio*</p>
                    </div>
                    <div class="input-form">
                        <input type="date" class="input-format" placeholder="Ingrese la fecha de inicio" id="fechaICert" name="fechaICert" maxlength="60">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Fecha de fin*</p>
                    </div>
                    <div class="input-form">
                        <input type="date" class="input-format" placeholder="Ingrese la fecha de fin" id="fechaFCert" name="fechaFCert"  maxlength="50">
                    </div>
                </div>

                
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    <div class="label-form">
                        <p>*Podrá agregar certificaciones extras en el perfil de usuario</p>
                    </div>
                </div>

                
            </div>
            <div class="grupo-input2">
                <div class="label-form">
                    <p class="label-2">¿La pasantía se relaciona con tecnologías?*</p>
                </div>
                <div class="check-box">
                    <input type="checkbox" name="opcion1" id="pasantia1" value="opcion1" onclick="deseleccionar1('opcion1')">&nbsp;&nbsp;&nbsp;Si<br>
                    <input type="checkbox" name="opcion1" id="pasantia2" value="opcion2" onclick="deseleccionar1('opcion2')">&nbsp;&nbsp;&nbsp;No<br>
                </div>
            </div>
            <br></br>
            <div class="grupo-input2">
                <div class="label-form">
                    
                </div>
                
                <div class="check-box">
                    <input type="hidden" id="checkboxlaboraloculto" name="checkboxlaboraloculto" value="desactivado">
                    <input type="checkbox" id="checkboxlaboral">&nbsp;&nbsp;&nbsp;Deseo agregar datos laborales<br>
                </div>
            </div>
            
            
            
            <br>
            <p class="subtitulo-1"> Datos laborales</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Empresa donde labora*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese la empresa donde labora" id="nomEmpPerso" name="nomEmpPerso"  maxlength="100"
                        title="El nombre de la empresa puede contener letras mayúsculas, minúsculas, números y caracteres especiales.">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Puesto*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su puesto" id="puestoEmpPerso" name="puestoEmpPerso"  maxlength="50"
                        title="El nombre de puesto puede contener letras mayúsculas, minúsculas, números y caracteres especiales.">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Correo laboral*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su correo laboral" id="correoEmpPerso" name="correoEmpPerso"  maxlength="40"
                        title="El email solo puede contener letras mayúsculas, minúsculas, números y caracteres especiales (., -, _, @).">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Teléfono de oficina*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese el teléfono de oficina" id="telFEmpPerso" name="telFEmpPerso"  maxlength="10"
                        title="El número de teléfono solo puede contener números.">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Extensión</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese la extensión" id="ExtTelFEmp" name="ExtTelFEmp"  maxlength="3"
                        title="La extensión solo puede contener números.">
                    </div>
                </div>


                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Funciones*</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su función" id="funcionEmpPerso" name="funcionEmpPerso"  maxlength="60"
                        title="El nombre de la funcion puede contener letras mayúsculas, minúsculas, números y caracteres especiales.">
                    </div>
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    <div class="label-form">
                        <p>*Podrá agregar funciones extras en el perfil de usuario</p>
                    </div>
                </div>
                

        <br></br>       
		</div>
        <div class="grupo-input2">
            <div class="label-form">
                <p align="justify" class="label-2">¿Alguna vez ha sido condenado por algún delito grave o un delito menor? (puede ser fraude, soborno, corrupción, robo, malversación, captación sexual, o cualquier delito que pone en tela de juicio la integridad o juicio, etc.)*</p>
            </div>
            <div class="check-box">
                <input type="checkbox" name="opcion2" id="antecedente1" value="opcion1" onclick="deseleccionar2('opcion1')">&nbsp;&nbsp;&nbsp;Si<br>
                <input type="checkbox" name="opcion2" id="antecedente2" value="opcion2" onclick="deseleccionar2('opcion2')">&nbsp;&nbsp;&nbsp;No<br>
            </div>
        </div>
        <br></br>
        <div class="grupo-input2">
            <div class="label-form">
                <p align="justify" class="label-2">Certifico que la información proporcionada es verídica y correcta hasta mi más leal saber y entender. Acepto que se incluyan mis datos personales en el “Colegio de Ingenieros en Sistemas Computacionales para la Seguridad de Información, Control Interno y Gobernanza, A.C.”. Me obligo a apegarme y cumplir cabalmente con los Estatutos y el Código de Ética del Colegio.*</p>
            </div>
            <div class="check-box">
                <input type="checkbox" name="opcion3" id="veridico1" value="opcion1" onclick="deseleccionar3('opcion1')">&nbsp;&nbsp;&nbsp;Si<br>
                <input type="checkbox" name="opcion3" id="veridico2" value="opcion2" onclick="deseleccionar3('opcion2')">&nbsp;&nbsp;&nbsp;No<br>
            </div>
        </div>
        <br></br>
        <div class="grupo-input2">
            <div class="label-form">
                <p align="justify" class="label-2">Aviso de privacidad*</p>
            </div>
            <div class="input-form">
                <input type="checkbox" name="opcion4" id="avisos1" value="opcion1">&nbsp;&nbsp;&nbsp; Estoy de acuerdo con el aviso de privacidad. <br>
					<p> Para conocer el Aviso de Privacidad da clic <a title="click" target="_blank"  href="Aviso_Privacidad.html">aquí.</a> </p> 
            </div>
        </div>
        
        <div class="boton_registrar">
        <!--<button class="btn-medium btn">Registrar</button>-->
        <input type="submit" class="btn-medium btn" id="boton_registrar" value="Registrar" >
        </div>
        
    
</br>
</form>


    <script>
        function deseleccionar1(opcion1) {
          var checkboxes = document.getElementsByName('opcion1');
          for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].value != opcion1) {
              checkboxes[i].checked = false;
            }
          }
        }

        function deseleccionar2(opcion2) {
            var checkboxes = document.getElementsByName('opcion2');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].value != opcion2) {
                checkboxes[i].checked = false;
              }
            }
        }

        function deseleccionar3(opcion3) {
            var checkboxes = document.getElementsByName('opcion3');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].value != opcion3) {
                checkboxes[i].checked = false;
              }
            }
        }

        function deseleccionar4(opcion4) {
            var checkboxes = document.getElementsByName('opcion4');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].value != opcion4) {
                checkboxes[i].checked = false;
              }
            }
        }

        const checkbox = document.getElementById('checkboxcertificacion');
        const checkboxoculto = document.getElementById('checkboxcertificacionoculto');
        
        const input1 = document.getElementById('nomCert');
        const input2 = document.getElementById('orgCert');
        const input3 = document.getElementById('fechaICert');
        const input4 = document.getElementById('fechaFCert');
        
        

        checkbox.addEventListener('click', function() {
        if (checkbox.checked) {
            checkboxoculto.value = "activado";
        input1.setAttribute('required', '');
        input2.setAttribute('required', '');
        input3.setAttribute('required', '');
        input4.setAttribute('required', '');
        } else {
            checkboxoculto.value = "desactivado";
        input1.removeAttribute('required');
        input2.removeAttribute('required');
        input3.removeAttribute('required');
        input4.removeAttribute('required');
        }
        });

        const checkbox2 = document.getElementById('checkboxlaboral');
        const checkboxoculto2 = document.getElementById('checkboxlaboraloculto');
        const input5 = document.getElementById('nomEmpPerso');
        const input6 = document.getElementById('puestoEmpPerso');
        const input7 = document.getElementById('correoEmpPerso');
        const input8 = document.getElementById('telFEmpPerso');
        const input10 = document.getElementById('funcionEmpPerso');
        
        

        checkbox2.addEventListener('click', function() {
        if (checkbox2.checked) {
            checkboxoculto2.value = "activado";
        input5.setAttribute('required', '');
        input6.setAttribute('required', '');
        input7.setAttribute('required', '');
        input8.setAttribute('required', '');
        input10.setAttribute('required', '');
        } else {
            checkboxoculto2.value = "desactivado";
        input5.removeAttribute('required');
        input6.removeAttribute('required');
        input7.removeAttribute('required');
        input8.removeAttribute('required');
        input9.removeAttribute('required');
        input10.removeAttribute('required');
        }
        });

      </script>
      <script src="../registro/js/Alertas_personal.js"></script>
      <script src="../registro/js/Reg_Personal.js"></script>
      <script src="../registro/js/Vali_Personal.js"></script>

</body>
</html>
