<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/plantilla_registro.css">
</head>

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          <img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
          <h1 class="nombre_Ventana">Registrate</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
          <button class="btn-cerrar-session btn">Login</button>
      </div>
    </div>

    <!-- Menu Desplegable -->
    <div class="container_menu">
      <div class="menu">
        <input type="checkbox" id="check__menu">
        <label id="label__check" for="check__menu">
          <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
        </label>
        <nav>
          <ul>

            <li>
              <a href="#">
                <i class="fa-solid fa-user"></i>
                Personal
              </a>

            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-users"></i>
                Empresarial
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
	<div class="contenedortrabajadores">
		<h3 class="h3">Registro empresarial</h3>
		<br>
		<form action="" id="formula">
			<p class="subtitulo-1"> Datos generales</p>
			<hr size="1px" />
			<div class="contenedor-formulario">
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">RFC fiscal</p>
					</div>
					<div class="input-form">
						<input type="text" name="rfc" id="rfc" class="input-format" maxlength="12" placeholder="Ingrese su RFC">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Nombre comercial</p>
					</div>
					<div class="input-form">
						<input type="text"name="nombre" id="nombre" class="input-format" maxlength="100" placeholder="Ingrese el nombre comercial">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Correo electrónico</p>
					</div>
					<div class="input-form">
						<input type="email" name="correo" id="correo_m" class="input-format" maxlength="40" placeholder="someone@example.com">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Contraseña</p>
					</div>
					<div class="input-form">
						<input type="text" name="password" id="password" class="input-format" maxlength="16" placeholder="Ingrese su contraseña">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Confirmar contraseña</p>
					</div>
					<div class="input-form">
						<input type="text" name="password_confirmacion" id="password_confirmacion" maxlength="16" class="input-format" placeholder="Confirmar contraseña">
					</div>
				</div>
			</div>
			<div class="grupo-input2">
				<div class="label-form">
					<p class="label-2">Razón social</p>
				</div>
				<div class="input-form">
					<textarea type="text" name="razon" id="razon" class="input-format" maxlength="100" placeholder="Ingrese la razón social"></textarea>
				</div>
			</div>
			
			<!--PARTE DOS-->
			<p class="subtitulo-1"> Domicilio fiscal</p>
			<hr size="1px" />
			<div class="contenedor-formulario">

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Código postal</p>
					</div>
					<div class="input-form">
						<input type="text" name="codigo_postal" id="codigo_postal" maxlength="5" class="input-format" placeholder="Ingrese un código postal">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Calle y número</p>
					</div>
					<div class="input-form">
						<input type="text" name="calle" id="calle" class="input-format" maxlength="100" placeholder="Ingrese la calle y número">
					</div>
				</div>
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Colonia</p>
					</div>
					<div class="input-form">

						<select name="colonia" id="busqueda_colonia"  maxlength="50" class="input-format">
							<option value="0">selecciona tu colonia</option>
						</select>
					</div>
			
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Ciudad</p>
					</div>
					<div class="input-form">
						<input type="text" name="ciudad" id="ciudad" maxlength="50"	class="input-format" placeholder="Ingrese la ciudad">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Estado</p>
					</div>
					<div class="input-form">
						<input type="text" name="estado" id="estado" maxlength="50" class="input-format" placeholder="Ingrese el estado">
					</div>
				</div>
				
				
			</div>
			<!--PARTE TRES-->
			<p class="subtitulo-1"> Horario laboral</p>
			<hr size="1px" />
			<div class="contenedor-formulario">
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Días laborales</p>
					</div>
					<div class="input-form">
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="2"> Lunes </label>
						<br>
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="3"> Martes </label>
						<br>
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="4"> Miércoles </label>
						<br>
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="5"> Jueves </label>
						<br>
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="6"> Viernes </label>
						<br>
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="7"> Sábado </label>
						<br>
						<label for="" class="label-2"><input type="checkbox" class="checkbox-format" value="1"> Domingo </label>
						<br>
					</div>
				</div>
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Hora de inicio</p>
					</div>
					<div class="input-form">
						<input type="time" class="input-format" name="inicio" id="inicio" placeholder="Ingrese su texto aquí...">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Hora de fin</p>
					</div>
					<div class="input-form">
						<input type="time" class="input-format" name="fin" id="fin" placeholder="Ingrese su texto aquí...">
					</div>
				</div>
			</div>

			<!--PARTE CUATRO-->
			<p class="subtitulo-1"> Áreas</p>
			<p class="subtitulo-1">Área de Recursos Humanos</p>
			<hr size="1px" />
			<div class="contenedor-formulario">
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Nombre del encargado</p>
					</div>
					<div class="input-form">
						<input type="text" name="rh_nombre" id="rh_nombre" maxlength="40" class="input-format" placeholder="Ingrese el nombre del encargado">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Apellido paterno</p>
					</div>
					<div class="input-form">
						<input type="text" name="rh_paterno" id="rh_paterno" maxlength="20" class="input-format" placeholder="Ingrese el apellido paterno">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Apellido materno</p>
					</div>
					<div class="input-form">
						<input type="text" name="rh_materno" id="rh_materno" maxlength="20" class="input-format" placeholder="Ingrese el apellido materno">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Número de teléfono</p>
					</div>
					<div class="input-form">
						<input type="text" name="rh_tele" id="rh_tele" maxlength="10"	class="input-format" placeholder="Ingrese el número de teléfono">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Extensión de teléfono</p>
					</div>
					<div class="input-form">
						<input type="text" name="rh_exten" id="rh_exten" maxlength="3" class="input-format" placeholder="Ingrese la extensión del área">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Correo electrónico</p>
					</div>
					<div class="input-form">
						<input type="email" name="rh_correo" id="rh_correo" maxlength="40" class="input-format" placeholder="someone@example.com">
					</div>
				</div>
			</div>

			<!--PARTE CINCO-->
			<p class="subtitulo-1">Área de TI</p>
			<hr size="1px" />
			<div class="contenedor-formulario">
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Nombre del encargado</p>
					</div>
					<div class="input-form">
						<input type="text" name="ti_nombre" id="ti_nombre" maxlength="40" class="input-format" placeholder="Ingrese el nombre del encargado">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Apellido paterno</p>
					</div>
					<div class="input-form">
						<input type="text" name="ti_paterno" id="ti_paterno" maxlength="20" class="input-format" placeholder="Ingrese el apellido paterno">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Apellido materno</p>
					</div>
					<div class="input-form">
						<input type="text" name="ti_materno" id="ti_materno" maxlength="20" class="input-format" placeholder="Ingrese el apellido materno">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Número de teléfono</p>
					</div>
					<div class="input-form">
						<input type="text" name="ti_tele" id="ti_tele" maxlength="10" class="input-format" placeholder="Ingrese el número de teléfono">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Extensión de teléfono</p>
					</div>
					<div class="input-form">
						<input type="text" name="ti_exten" id="ti_exten" maxlength="3" class="input-format" placeholder="Ingrese la extensión del área">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Correo electrónico</p>
					</div>
					<div class="input-form">
						<input type="email" name="ti_correo" id="ti_correo" maxlength="40" class="input-format" placeholder="someone@example.com">
					</div>
				</div>
			</div>
			<!--PARTE SEIS-->
			<p class="subtitulo-1">Área de Capacitación</p>
			<hr size="1px" />
			<div class="contenedor-formulario">
				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Nombre del encargado</p>
					</div>
					<div class="input-form">
						<input type="text" name="ac_nombre" id="ac_nombre" maxlength="40" class="input-format" placeholder="Ingrese el nombre del encargado">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Apellido paterno</p>
					</div>
					<div class="input-form">
						<input type="text" name="ac_paterno" id="ac_paterno" maxlength="20" class="input-format" placeholder="Ingrese el apellido paterno">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Apellido materno</p>
					</div>
					<div class="input-form">
						<input type="text" name="ac_materno" id="ac_materno" maxlength="20" class="input-format" placeholder="Ingrese el apellido materno">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Número de teléfono</p>
					</div>
					<div class="input-form">
						<input type="text" name="ac_tele" id="ac_tele" maxlength="10" class="input-format" placeholder="Ingrese el número de teléfono">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Extensión de teléfono</p>
					</div>
					<div class="input-form">
						<input type="text" name="ac_exten" id="ac_exten" maxlength="3" class="input-format" placeholder="Ingrese la extensión del área">
					</div>
				</div>

				<div class="grupo-input">
					<div class="label-form">
						<p class="label-2">Correo electrónico</p>
					</div>
					<div class="input-form">
						<input type="email" name="ac_correo" id="ac_correo" maxlength="40" class="input-format" placeholder="someone@example.com">
					</div>
				</div>
			</div> 
			<div class="grupo-input2">
				<div class="label-form">
					<p class="label-2">Aviso de privacidad</p>
				</div>
				<div class="input-form">
					<input type="checkbox" name="opcion4" id="avisos1" value="opcion1">&nbsp;&nbsp;&nbsp; Estoy de acuerdo con el aviso de privacidad. <br>
					<p> Para conocer el Aviso de Privacidad da clic <a title="click" target="_blank"  href="/view/Aviso_Privacidad.html">aquí.</a> </p> 
				</div>
			</div>

			<div class="boton_registrar">
				<input type="submit" class="btn-medium btn" id="boton_registrar" value="Registrar" >
				
			</div>
			<br>
		</form>

	<script src="../registro/js/Alta_empresa_in.js"></script>
	<script src="../registro/js/Vali_empresa.js"></script> 
</body>

</html>