<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/plantilla_registro.css">
</head>

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          <img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
          <h1 class="nombre_Ventana">Registrate</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
          <button class="btn-cerrar-session btn">Login</button>
      </div>
    </div>

    <!-- Menu Desplegable -->
    <div class="container_menu">
      <div class="menu">
        <input type="checkbox" id="check__menu">
        <label id="label__check" for="check__menu">
          <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
        </label>
        <nav>
          <ul>

            <li>
              <a href="Reg_Personal.html">
                <i class="fa-solid fa-user"></i>
                Personal
              </a>

            </li>

            <li>
              <a href="Reg_Empresa.html">
                <i class="fa-solid fa-users"></i>
                Empresarial
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
  
	<div class="contenedorregistro">
		<h3>Registro personal </h3>
		<br>
        <form action="/controller/registro/Reg_personal.php" class="formularios" method="post" enctype="multipart/form-data" id="formulario">
            <p class="subtitulo-1"> Datos personales</p>
            
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Nombre(s)</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su nombre." id="nomPerso" name="nomPerso" required maxlength="40">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Apellido paterno</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su apellido paterno" id="apePPerso" name="apePPerso" required maxlength="20">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Apellido materno</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su apellido materno" id="apeMPerso" name="apeMPerso" required maxlength="20">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Correo</p>
                    </div>
                    <div class="input-form">
                        <input type="email" class="input-format"placeholder="someone@example.com" id="correoPerso" name="correoPerso" required maxlength="40">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Contraseña</p>
                    </div>
                    <div class="input-form">
                        <input type="password" class="input-format" placeholder="Ingrese una contraseña" id="contraPerso" name="contraPerso" required maxlength="100">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Confirmar contraseña</p>
                    </div>
                    <div class="input-form">
                        <input type="password" class="input-format"placeholder="Vuelva a ingresar la contraseña" id="confiContraPerso" name="confiContraPerso" required maxlength="100">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Cédula</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su cédula profecional" id="cedulaPerso" name="cedulaPerso" required maxlength="8">
                    </div>
                </div>

                <div class="grupo-input3">
                    <div class="label-form">
                        <p class="label-2">Teléfono fijo</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su teléfono fijo " id="telFPerso" name="telFPerso" required maxlength="10">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Teléfono móvil</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su teléfono móvil" id="telMPerso" name="telMPerso" required maxlength="10">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Fecha de nacimiento</p>
                    </div>
                    <div class="input-form">
                        <input type="date" class="input-format"placeholder="Ingrese su fecha de nacimiento" id="fechaNacPerso" name="fechaNacPerso" required maxlength="20">
                    </div>
                </div>
            </div>

            <br>
            <p class="subtitulo-1">Dirección</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Código postal</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su codigo postal" id="cpPerso" name="cpPerso" required maxlength="5">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Calle</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese su calle" id="callePerso" name="callePerso" required maxlength="50">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Colonia</p>
                    </div>
                    <div class="input-form">
                        <select type="text" class="input-format"placeholder="Ingrese su texto aquí..." id="coloniaPerso" name="coloniaPerso" required maxlength="50">
                            <option value="0">Seleccione su colonia</option>
						</select>
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Ciudad</p>
                    </div>
                    <div class="input-form">
                        <input type="text" disabled class="input-format"placeholder="Ingrese su ciudad" id="ciudadPerso" name="ciudadPerso" required maxlength="50">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Estado</p>
                    </div>
                    <div class="input-form">
                        <input type="text" disabled class="input-format"placeholder="Ingrese su estado" id="estadoPerso" name="estadoPerso" required maxlength="50">
                    </div>
                </div>
            </div>
            
            <br>
            <p class="subtitulo-1"> Educación</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Certificaciones</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese el numero de la certificacion" id="noCert" name="noCert" required maxlength="6">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Nombre de certificación</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese el nombre de la certificación" id="nomCert" name="nomCert" required maxlength="60">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Organizacion del certificado</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format" placeholder="Ingrese la organizacion de la certificación" id="orgCert" name="orgCert" required maxlength="50">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Fecha de inicio</p>
                    </div>
                    <div class="input-form">
                        <input type="date" class="input-format" placeholder="Ingrese la fecha de inicio" id="fechaICert" name="fechaICert" required maxlength="60">
                    </div>
                </div>

                <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Fecha de fin</p>
                    </div>
                    <div class="input-form">
                        <input type="date" class="input-format" placeholder="Ingrese la fecha de fin" id="fechaFCert" name="fechaFCert" required maxlength="50">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Máximo grado de estudios</p>
                    </div>
                    <div class="input-form">
                        <select type="text" class="input-format"placeholder="Ingrese su máximo grado de estudios" id="tipoGradoPerso" name="tipoGradoPerso" required maxlength="12">
                        <option value="0" selected disabled>Seleccione su máximo grado de estudios</option>
                        <option value="1">Pasante</option>
                        <option value="2">Licenciatura</option>
                        <option value="2">Maestría</option>
                        <option value="2">Doctorado</option>
                        </select>
                    </div>
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    <div class="label-form">
                        <p class="label-2">*Podrá agregar certificacio extra en el perfil de usuario</p>
                    </div>
                </div>

                
            </div>
            <div class="grupo-input2">
                <div class="label-form">
                    <p class="label-2">¿La pasantía se relaciona con tecnologías?</p>
                </div>
                <div class="check-box">
                    <input type="checkbox" name="opcion1" id="pasantia1" value="opcion1" onclick="deseleccionar1('opcion1')">&nbsp;&nbsp;&nbsp;Si<br>
                    <input type="checkbox" name="opcion1" id="pasantia2" value="opcion2" onclick="deseleccionar1('opcion2')">&nbsp;&nbsp;&nbsp;No<br>
                </div>
            </div>
            
            
            <br>
            <p class="subtitulo-1"> Datos laborales</p>
            <hr size="1px"/>
            <div class="contenedor-formulario">
                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Empresa donde labora</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese la empresa donde labora" id="nomEmpPerso" name="nomEmpPerso" required maxlength="100">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Puesto</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su puesto" id="puestoEmpPerso" name="puestoEmpPerso" required maxlength="50">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Correo laboral</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su correo laboral" id="correoEmpPerso" name="correoEmpPerso" required maxlength="40">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Extensión de teléfono</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese la extencion de teléfono" id="ExtTelFEmp" name="ExtTelFEmp" required maxlength="10">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Teléfono de oficina</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese el teléfono de oficina" id="telFEmpPerso" name="telFEmpPerso" required maxlength="10">
                    </div>
                </div>

                <div class="grupo-input">
                    <div class="label-form">
                        <p class="label-2">Funciones</p>
                    </div>
                    <div class="input-form">
                        <input type="text" class="input-format"placeholder="Ingrese su funcion" id="funcionEmpPerso" name="funcionEmpPerso" required maxlength="50">
                    </div>
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    
                </div>
                <div class="grupo-input2">
                    <div class="label-form">
                        <p class="label-2">*Podrá agregar funciones extra en el perfil de usuario</p>
                    </div>
                </div>
                

        <br></br>       
		</div>
        <div class="grupo-input2">
            <div class="label-form">
                <p align="justify" class="label-2">¿Alguna vez ha sido condenado por algún delito grave o un delito menor? (puede ser fraude, soborno, corrupción, robo, malversación, captación sexual, o cualquier delito que pone en tela de juicio la integridad o juicio, etc.)</p>
            </div>
            <div class="check-box">
                <input type="checkbox" name="opcion2" id="antecedente1" value="opcion1" onclick="deseleccionar2('opcion1')">&nbsp;&nbsp;&nbsp;Si<br>
                <input type="checkbox" name="opcion2" id="antecedente2" value="opcion2" onclick="deseleccionar2('opcion2')">&nbsp;&nbsp;&nbsp;No<br>
            </div>
        </div>
        <br></br>
        <div class="grupo-input2">
            <div class="label-form">
                <p align="justify" class="label-2">Certifico que la información proporcionada es verídica y correcta hasta mi más leal saber y entender. Acepto que se incluyan mis datos personales en de “Colegio de Ingenieros en Sistemas Computacionales para la Seguridad de Información, Control Interno y Gobernanza, A.C.” Me obligo a apegarme y cumplir cabalmente con los Estatutos y el Código de Ética del Colegio.</p>
            </div>
            <div class="check-box">
                <input type="checkbox" name="opcion3" id="veridico1" value="opcion1" onclick="deseleccionar3('opcion1')">&nbsp;&nbsp;&nbsp;Si<br>
                <input type="checkbox" name="opcion3" id="veridico2" value="opcion2" onclick="deseleccionar3('opcion2')">&nbsp;&nbsp;&nbsp;No<br>
            </div>
        </div>
        <br></br>
        <div class="grupo-input2">
            <div class="label-form">
                <p align="justify" class="label-2">Aviso de privacidad</p>
            </div>
            <div class="input-form">
                <input type="checkbox" name="opcion4" id="avisos1" value="opcion1">&nbsp;&nbsp;&nbsp; Estoy de acuerdo con el aviso de privacidad. <br>
					<p> Para conocer el Aviso de Privacidad da clic <a title="click" target="_blank"  href="/view/Aviso_Privacidad.html">aquí.</a> </p> 
            </div>
        </div>
        
        <div class="boton_registrar">
        <button class="btn-medium btn">Registrar</button>
        </div>
        
    
</br>
</form>


    <script>
        function deseleccionar1(opcion1) {
          var checkboxes = document.getElementsByName('opcion1');
          for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].value != opcion1) {
              checkboxes[i].checked = false;
            }
          }
        }

        function deseleccionar2(opcion2) {
            var checkboxes = document.getElementsByName('opcion2');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].value != opcion2) {
                checkboxes[i].checked = false;
              }
            }
        }

        function deseleccionar3(opcion3) {
            var checkboxes = document.getElementsByName('opcion3');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].value != opcion3) {
                checkboxes[i].checked = false;
              }
            }
        }

        function deseleccionar4(opcion4) {
            var checkboxes = document.getElementsByName('opcion4');
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].value != opcion4) {
                checkboxes[i].checked = false;
              }
            }
        }

      </script>
      <script src="../registro/js/Reg_Personal.js"></script>
      <script src="../registro/js/Vali_Personal.js"></script>

</body>
</html>
