<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de cursos - CISCIG</title>
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/menu.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/Reg_Cursos.css">
</head>

<body>
  <header>
    <div class="container">
      <input type="checkbox" name="" id="check">

      <div class="logo-container">
        <img src="../../public/img/ciscigCompleto.png" alt="" class="logo">
      </div>

      <div class="nav-btn">
        <div class="nav-links">
          <ul>
            <!-- Cursos -->
            <li class="nav-link label-1" style="--i: .85s">
              <a href="#">Cursos<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Registrar</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Visualizar</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <!-- Cuotas -->
            <li class="nav-link label-1" style="--i: .85s">
              <a href="#">Cuotas<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Registrar</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Visualizar</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <!-- Bolsa de trabajo -->
            <li class="nav-link label-1" style="--i: .85s">
              <a href="#">Bolsa de trabajo<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Ofertas de trabajo</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Mi CV</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <!-- Servicios -->
            <li class="nav-link label-1" style="--i: .85s">
              <a href="#">Servicios<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Solicitar</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Visualizar</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <!-- Pólizas -->
            <li class="nav-link label-1" style="--i: .85s">
              <a href="#">Pólizas<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Solicitar</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Visualizar</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>

            <li class="nav-link label-1" style="--i: .85s">
              <a href="#">Mi perfil<i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Datos generales</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>

          </ul>
        </div>

      </div>

      <div class="buttons">
        <input type="button" value="Cerrar sesión" class="btn-small btn">
      </div>

      <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </header>

</body>

</html>