
<!DOCTYPE html>
<html lang="es">

<head>
  <script src="../../view/login/js/Verificar_Permiso_Empresa.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitud de servicios</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/plantilla_admin.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/Reg_Servicios.css">
  <link rel="icon" href="../../public/img/ciscig-notch.png" sizes="32x32">
</head>

<body>
  <header>

    <div class="menu">
      <input type="checkbox" id="check__menu">
      <label id="label__check" for="check__menu"><i class="fa-sharp fa-solid fa-bars icon__menu"></i></label>
      <img class="logo_ciscig" src="../../public/img/ciscigCompleto.png" alt="">
      <nav>
        <ul>

          <!-- Cuotas -->
          <li>
            <a href="#">
              <!-- <i class="fa-solid fa-circle-check"></i> -->
              Cuotas
            </a>

            <ul>
              <li><a id="" href="../../view/empresa/Reg_Cuota.html">Registrar</a></li>
              <li><a id="" href="../../view/empresa/Vista_Cuotas.html">Mostrar</a></li>
            </ul>
          </li>

          <!-- Bolsa de trabajo -->
          <li>
            <a href="#">
              <!-- <i class="fa-solid fa-chalkboard-user"></i> -->
              Bolsa de trabajo
            </a>

            <ul>
              <li><a id="" href="../../view/empresa/Reg_Ofertas.html">Registrar</a></li>
              <li><a id="" href="../../view/empresa/Vista_Ofertas.html">Mostrar</a></li>
            </ul>
          </li>

          <!-- Servicios -->
          <li>
            <a href="#">
              <!-- <i class="fa-solid fa-clipboard-list"></i> -->
              Servicios
            </a>

            <ul>
              <li><a id="" href="../../view/empresa/Reg_Servicios.html">Registrar</a></li>
              <li><a id="" href="../../view/empresa/Vista_Servicios.html">Mostrar</a></li>
            </ul>
          </li>

          <!-- Mi Perfil -->
          <li>
            <a href="#">
              <!-- <i class="fa-regular fa-user"></i> -->
              Mi perfil
            </a>

            <ul>
              <li><a id="" href="../../view/empresa/Modi_Datos.html">Datos Generales</a></li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>

    <div class="boton-cerrar-session">
      <button class="btn-cerrar-session btn"
        onclick="window.location.href = '../../controller/login/Logout.php' ">Cerrar sesión</button>
    </div>
  </header>

  <main>
    <section class="section-main">
      <div class="cabezera">
        <h3 class="h3 titulo-ventana">Registro</h2>
          <p class="subtitulo-1">Descripción del servicio</p>
          <hr>
      </div>

      <div class="cards">
        <div class="card">
          <p class="subtitulo-2">Headhunter</p>
          <div class="descripcion">
            <p class="lead-2">Especialista en reclutamiento de talento ejecutivo, encargado de identificar y atraer
              candidatos altamente calificados para empresas.</p>
          </div>
          <div class="checkbox-wrapper-31">
            <input type="checkbox" id="headhunter">
            <svg viewBox="0 0 35.6 35.6">
              <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
              <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
              <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
          </div>
        </div>

        <div class="card">
          <p class="subtitulo-2">Outplacement</p>
          <div class="descripcion">
            <p class="lead-2">Servicio de apoyo profesional para empleados en transición laboral, facilitando su
              reintegración al mercado laboral.</p>
          </div>
          <div class="checkbox-wrapper-31">
            <input type="checkbox" id="outplacement">
            <svg viewBox="0 0 35.6 35.6">
              <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
              <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
              <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="btn btn-medium" id="btn-aplicar">Aplicar</button>
      </div>
    </section>
  </main>
</body>

<script src="../../controller/empresa/js/Registro_Servicios.js"></script>

</html>