<!DOCTYPE html>
<html lang="es">
<head>
  <script src="../../view/login/js/Verificar_Permiso_Trabajador.js" defer></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV del aplicante</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/administrativo/plantilla_admin.css">
  <link rel="stylesheet" href="../../public/css/socio-asociado/Reg_CV.css">
  <link rel="stylesheet" href="../../public/css/administrativo/Aprobacion_Cvadmin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
  <link rel="icon" href="../../public/img/ciscig-notch.png" sizes="32x32">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
</head>

<body>
    <header>
		<div class="header_superior">
			<div class="titulo">

				<div class="nombre_ventana">
					<img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
					<h1 class="nombre_Ventana">Bolsa de trabajo</h1>
				</div>

			</div>

			<div class="boton-cerrar-session">
				<button class="btn-cerrar-session btn" onclick="window.location.href = '../../controller/login/Logout.php' ">Cerrar sesión</button>
        <a href="Informacion.html" class="info"><i class="ti ti-info-circle-filled"></i></a>
			</div>
		</div>
		<!-- Menu Desplegable -->
		<div class="container_menu">
			<div class="menu">
				<input type="checkbox" id="check__menu">
				
				<label id="label__check" for="check__menu">
					<i class="fa-sharp fa-solid fa-bars icon__menu"></i>
				</label>
				<nav>
					<ul>
		
						<li>
							<a href="#">
								<i class="fa-regular fa-user"></i>
								Usuarios
							</a>
				
							<ul>
								<li><a id="menuProducto1" href="../../view/administrativo/Vista_Usuarios.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
							<i class="fa-solid fa-user-tie"></i>
							Trabajadores
							</a>
			
							<ul>
							<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Trabajadores.html">Registrar</a></li>
							<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Trabajadores.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i class="fa-solid fa-circle-check"></i>
								Certificaciones
							</a>
				
							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Certificaciones.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Certificaciones.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i class="fa-solid fa-chalkboard-user"></i>
								Cursos
							</a>
				
							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Cursos.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Cursos.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i class="fa-solid fa-clipboard-list"></i>
								Proyectos
							</a>
				
							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Proyectos.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Proyectos.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
							<i class="fa-solid fa-person-chalkboard"></i>
							Instructores
							</a>
							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Instructor.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Instructor.html">Mostrar</a></li>
							</ul>
						</li>
		
						<li>
							<a href="#">
								<i class="fa-solid fa-chart-column"></i>
								Seguimiento
							</a>
				
							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Seguimiento.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Seguimiento.html">Mostrar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa-solid fa-file"></i>
								Pólizas
							</a>
				
							<ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Polizas_General.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Polizas.html">Mostrar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa-solid fa-file-lines"></i>
								Reportes
							</a>

							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Vista_ReporteIn.html">Individual</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_ReporteGral.html">General</a></li>
							</ul>
						</li>

						

						<li>
							<a href="#">
								<i class="fa-solid fa-user-gear"></i>
								Servicios
							</a>

							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Vista_Servicios.html">Mostrar</a></li>
							</ul>
						</li>

						<li>
							<a href="#">
								<i class="fa-solid fa-briefcase"></i>
								Bolsa de trabajo
							</a>

							<ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Vista_OfertasAdmin.html">Ofertas</a></li>
							</ul>
						</li>
					</ul>
        		</nav>
      		</div>
    	</div>
	</header>

  
  <main>
    <section class="section-main">
        <div class="cabezera">
            <h4 class="h3">CV del aplicante</h4>
          </div>
          <br>
          <p class="subtitulo-1"> Datos generales</p>
          <hr>
          <!-- Datos generales avacante -->
          <br>
      <div class="formulario-datos-generales">
        <!-- Nombre -->
        <div class="campo">
          <label for="" class="label-2">Nombre:</label>
          <p class="label-4" id="nombreAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Apellido paterno -->
        <div class="campo">
          <label for="" class="label-2">Apellido Paterno:</label>
          <p class="label-4" id="appelido_paternoAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Apellido materno -->
        <div class="campo">
          <label for="" class="label-2">Apellido Materno:</label>
          <p class="label-4" id="apellido_maternoAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Fecha de nacimiento -->
        <div class="campo">
          <label for="" class="label-2">Fecha de nacimiento:</label>
          <p class="label-4" id="fecha_nacimientoAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Correo electrónico -->
        <div class="campo">
          <label for="" class="label-2">Correo electrónico:</label>
          <p class="label-4" id="correo_electroAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Telefono -->
        <div class="campo">
          <label for="" class="label-2">Teléfono:</label>
          <p class="label-4" id="telefonoAP">Pruebas de como se ve el texto</p>
          
        </div>
        
       
        <!-- Cambio de residencia -->
        <div class="campo">
          <label for="" class="label-2">¿Puede cambiar de residencia?:</label>
          <p class="label-4" id="cambio_residenciaAP">Pruebas de como se ve el texto</p>
         
        </div>
        <!-- Expectativa salarial bruta -->
        <div class="campo">
          <label for="" class="label-2">Expectativa salarial bruta:</label>
          <p class="label-4" id="expe_salarial_brutaAP">Pruebas de como se ve el texto</p>
          
        </div>
      </div>

      <div class="formulario-descripcion">
        <label for="" class="label-2">Descripción profesional:</label>
        <p class="label-4" id="descripcion_profeAP">Pruebas de como se ve el texto</p>
        
      </div>
      <br>
      <!--PARTE DOS-->
      <div class="divisor">
        <p class="subtitulo-1">Domicilio</p>
        <hr>
      </div>
      <br>
       <div class="contenedor-formulario">
           <!-- Correo electrónico -->
           <div class="formulario-datos-generales">
            <!-- Nombre -->
            <div class="campo">
              <label for="" class="label-2">Codigo postal:</label>
              <p class="label-4" id="codigo_postalAP">Pruebas de como se ve el texto</p>
              
            </div>
            <!-- Calle y número -->
            <div class="campo">
                <label for="" class="label-2">Calle y número:</label>
                <p class="label-4" id="calle_numeroAP">Pruebas de como se ve el texto</p>
          
            </div>
             <!-- Colonia -->
              <div class="campo">
                 <label for="" class="label-2">Colonia:</label>
                 <p class="label-4" id="coloniaAP">Pruebas de como se ve el texto</p>
          
              </div>
             <!-- Ciudad -->
             <div class="campo">
                 <label for="" class="label-2">Ciudad:</label>
                 <p class="label-4" id="ciudadAP">Pruebas de como se ve el texto</p>
          
              </div>
             <!-- Estado -->
             <div class="campo">
                 <label for="" class="label-2">Estado:</label>
                 <p class="label-4" id="estadoAP">Pruebas de como se ve el texto</p>
          
              </div>
           </div>
    
      <!-- Experiencia académica -->
      <br>
      <div class="divisor">
        <p class="subtitulo-1">Experiencia académica</p>
        <hr>
      </div>
      <br>
      <!-- Formulario académico 1 -->
      <div class="formulario-certificaciones" id="academico-1">
        <!-- Nombre de la carrera -->
        <div class="campo" id="aca">
          
          
        </div>
        <!-- Número de cédula -->
        <div class="campo" id="aca2">
          
          
        </div>
      </div>

      <br>
      <!-- Formulario académico 2 -->
      <div class="formulario-academica" id="academico-2">
        <!-- Nombre de la carrera -->
        <div class="campo" id="">
          <label for="" class="label-2">Nombre de la carrera:</label>
          <p class="label-4" id="nombre_carrera_dosAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Número de cédula -->
        <div class="campo">
          <label for="" class="label-2">Número de cédula:</label>
          <p class="label-4" id="num_cedula_dosAP">Pruebas de como se ve el texto</p>
          
        </div>

        
      </div>

      

      <!-- Formulario académico 3 -->
      <div class="formulario-academica" id="academico-3">
        <!-- Nombre de la carrera -->
        <div id="carrera-1"class="campo">
          <label for="" class="label-2">Nombre de la carrera:</label>
          <p class="label-4" id="nombre_carrera_tresAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Número de cédula -->
        <div id="carrera-1"class="campo">
          <label for="" class="label-2">Número de cédula:</label>
          <p class="label-4" id="num_cedula_tresAP">Pruebas de como se ve el texto</p>
          
        </div>

      </div>

      <!-- Experiencia profesional -->
      <div class="divisor">
        <p class="subtitulo-1">Experiencia profesional</p>
        <hr>
      </div>
      <br>
      <!-- Formulario experiencia 1 -->
      <div class="divisor" id="experiencia-1">
        <!-- Puesto que desempeñaba -->
        
        <div class="campo" id="pro">
          
          
        </div>
        <!-- Nombre de la empresa -->
        <div class="campo" id="pro2">
          

          
        </div>
        <!-- Fecha de inicio -->
        <div class="campo"id="pro3">
          
          
        </div>
        <!-- Fecha de fin -->
        <div class="campo" id="pro4">
          
          
        </div>
        <!-- Actividades relevantes -->
        <div class="campo" id="pro5">
         
          
        </div>

      </div>
      <!-- Formulario experiencia 2 -->
      <div class="formulario-certificaciones" id="experiencia-2">
        <!-- Puesto que desempeñaba -->
        <div class="campo">
          <label for="" class="label-2">Puesto que desempeñaba:</label>
          <p class="label-4" id="puesto_desempeño_dosAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Nombre de la empresa -->
        <div class="campo">
          <label for="" class="label-2">Nombre de la empresa:</label>
          <p class="label-4" id="nombre_empresa_dosAP">Pruebas de como se ve el texto</p>
        </div>
        <!-- Fecha de inicio -->
        <div class="campo">
          <label for="" class="label-2">Periodo de inicio:</label>
          <p class="label-4" id="pe_inicio_dosAP">Pruebas de como se ve el texto</p>
          
        </div>
        <!-- Fecha de fin -->
        <div class="campo">
          <label for="" class="label-2">Periodo de fin:</label>
          <p class="label-4" id="pe_fin_dosAP">Pruebas de como se ve el texto</p>
         
        </div>
        <!-- Actividades relevantes -->
        <div class="campo">
          <label for="" class="label-2">Actividades relevantes:</label>
          <p class="label-4" id="actividades_rel_dosAP">Pruebas de como se ve el texto</p>
          
        </div>

        
      </div>

      <!-- Certificaciónes -->
      <div class="divisor">
        <p class="subtitulo-1">Certificaciones</p>
        <hr>
        <br>
      </div>
      <br>
      <div id="formulario-certificaciones" class="formulario-certificaciones">
        <!-- Nombre certificación -->
        <div class="campo" id="cer">
          
        </div>
        <!-- Organismo que expidió -->
        <div class="campo" id="cer2">
          
        </div>
      </div>

      
      <br>
      <p class="subtitulo-1">Aprobación del CV</p>
      <hr size="1px" />
      <br>
      <form action="" id="formula">
        <div class="input-form">
          <label for="" class="checkbox"><input type="radio" name="radiosb" id="ti_ck1" class="checkbox-format"
              value="1"> Aceptar </label>  &nbsp;
        </div>
        <br>
        <div class="input-form"> 
          <label for="" class="checkbox"><input type="radio" name="radiosb" id="ti_ck2" class="checkbox-format"
              value="2" > Rechazar </label>
          <br>
          <br>
        </div>
            <div class="grupo-input2">
                <div class="label-form">
                  <p class="label-2">Motivo del rechazo</p>
                </div>
                <br>
                <div class="input-form">
                  <textarea  name="descri_puesto" id="descri_puesto" class="input-textarea-aca-tec" maxlength="100"
                  required placeholder="Ingrese la descripción del rechazo" title="Acepta números, letras, espacios intermedios, comas y puntos." ></textarea>
                </div>
              </div>
              <br>
            </div>
            <div class="botones-registro">
                <button class="btn btn-medium" id="boton_registro" type="submit">Enviar</button>
           </div>
      </form>

    </section>
    <span id="id-usuario" style="display:none">P0001</span>

  </main>
  <script src="../../view/administrativo/js/Vali_Oferta_AR.js"></script>
  <script src="../../controller/administrativo/js/Registro_Comentario_Cv.js"></script>
</body>

</html>
