<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modificación de pólizas</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/administrativo/plantilla_admin.css">
  <link rel="stylesheet" href="../../public/css/administrativo/Modi_Polizas_Individual.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"> 
  <link rel="icon" href="../../public/img/ciscig-notch.png" sizes="32x32">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">  
</head>

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          <img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
          <h1 class="nombre_Ventana">Pólizas</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
        <button class="btn-cerrar-session btn" onclick="window.location.href = '../../controller/login/Logout.php' ">Cerrar sesión</button>      
        <a href="Informacion.html" class="info"><i class="ti ti-info-circle-filled"></i></a>
      </div>
    </div>

    <!-- Menu Desplegable -->
    <div class="container_menu">
      <div class="menu">
        <input type="checkbox" id="check__menu">
        <label id="label__check" for="check__menu">
          <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
        </label>
        <nav>
          <ul>

            <li>
              <a href="#">
                <i class="fa-regular fa-user"></i>
                Usuarios
              </a>

              <ul>
                <li><a id="menuProducto1" href="../administrativo/Vista_Usuarios.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-user-tie"></i>
                Trabajadores
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Trabajadores.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Trabajadores.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-circle-check"></i>
                Certificaciones
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Certificaciones.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Certificaciones.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-chalkboard-user"></i>
                Cursos
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Cursos.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Cursos.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-clipboard-list"></i>
                Proyectos
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Proyectos.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Proyectos.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-person-chalkboard"></i>
                Instructores
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Instructor.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Instructor.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-chart-column"></i>
                Seguimiento
              </a>
        
              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Seguimiento.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Seguimiento.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-file"></i>
                Pólizas
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Registrar</a></li>
                <li><a id="menuSucursal2" href="#">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-file-lines"></i>
                Reportes
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Vista_ReporteIn.html">Individual</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_ReporteGral.html">General</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-user-gear"></i>
                Servicios
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Vista_Servicios.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-briefcase"></i>
                Bolsa de trabajo
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Vista_OfertasAdmin.html">Ofertas</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header> 

  <main>
    <section class="section-main"> 
      <div class="cabezera">
        <h4 class="h4">Modificar</h4>
    </div>
    <br>
    <p class="subtitulo-1">Concepto</p>
    <hr> 
    <form action="" id="formulario">  
        <div class="contenedor-formulario">
            
            <div class="grupo-input">
              <div class="label-form">
                <p class="label-2">Descripción*</p>
              </div>
              <div class="input-form">
                <textarea rows="5" cols="40" placeholder="Descripción" class="input-textarea-2" maxlength="150" id="descripcion1" name="descripcion1" required></textarea>
              </div>
            </div>

            <div class="grupo-input">
              <div class="label-form">
                  <p class="label-2">Tipo*</p>
              </div>
              <div class="input-form">
                  <select type="text" class="input-format-2"placeholder="Ingrese el tipo" id="tipoCargo" name="tipoCargo" maxlength="12" required>
                  <option value="" selected disabled>Seleccione un tipo</option>
                  <option value="1">Debe</option>
                  <option value="2">Haber</option>
                  
                  </select>
              </div>
          </div>
          
        
            <div class="grupo-input">
              <div class="label-form">
                <p class="label-2">Monto*</p>
              </div>
              <div class="input-form">
                <input type="text" class="input-format-2" name="monto"  id="monto" maxlength="20"
                  placeholder="Ingrese el monto" title="Ingrese el monto" required>
              </div>
            </div>
            
             
           
        </div> 
        <br>
        <p class="subtitulo-1">Evidencia</p>
        <hr> 
        <div class="contenedor-formulario">
          
           
          <div class="grupo-input">
            <div class="label-form">
              <p class="label-2">Descripción*</p>
            </div>
            <div class="input-form">
              <textarea rows="5" cols="40" placeholder="Descripción" class="input-textarea-2" id="descripcion2" name="descripcion2" required></textarea>
            </div>
          </div> 

          
          <div class="grupo-input">
            <div class="label-form">
              <p class="label-2">Comprobante*</p>
            </div>
            <div class="input-form">
              <input type="file" class="input-format-2" id="archivo"  name="archivo" accept="application/pdf" 
          required title="El archivo debe ser maximo de 3MB"></input>
            </div>
          </div> 
      </div> 
        <br> 

        
        </div>
        <div class="aqui">
          <button class="btn-mediu btn" type="button" id="btn_agregar">Añadir</button> 
        </div>
      </form>
      <h4 class="h4">Nombre socio/asociado o empresa </h4> 
      <h4 class="h4">Servicio </h4>
        <br>
      
            <div class="conteTabla" >
                <div class="article-tablas" >
                    <article>          
                      <div class="tablas">
                        <section class="header_table" id="contenedor_tabla" >
                            <table id="tabla">
                              <thead>
                                <tr>
                                  <th colspan="10" class="titulo-text">Póliza de ingreso</th>
                                </tr>
                                <tr>
                                  <th colspan="1">Fecha</th>
                                  <td colspan="6">15 septiembre 2023</td>
                                  <th colspan="1">Folio</th>
                                  <td colspan="3">0035</td>
                                  
                                </tr>
                                <tr>
                                  <th colspan="1" >Concepto general</th>
                                  <td colspan="9" class="justify-text" >Pago realizado al instructor Antonio Duque Palacios por la
                                    impartición del curso para la certificación en ciberseguridad realizado en Zacatecas los días 01 a 04 de 
                                    septiembre del 2023.
                                  </td>
                                  
                                  
                                </tr>
                              </thead>
          
                              <tbody>
                                <tr>
                                  <th colspan="5">Concepto</th>
                                  <th colspan="1">Debe</th>
                                  <th colspan="1">Haber</th>
                                  <th>Descripción del documento</th>
                                  <th>Comprobante</th>
                                  <th>Acción</th>
                                </tr>
                                <!-- Filas de datos -->
                               
                                <tr id="h">
                                  <td colspan="5" class="justify-text">Banco Banamex Cta. XXXX09</td>
                                  <td class="right-text"></td>
                                  <td class="right-text">11,600.00</td>
                                  <td class="justify-text">PDF del comprobante de la transferencia / cheque realizada al instructor.</td>
                                  <td>document.pdf</td>
                                  <td><button class="btn btn-small btn-danger1 fa-solid fa-pen-to-square" onclick="mostrar_modal('h')" id="boton_registro" type="button"></button>
                                    <button class="btn btn-small btn-danger ti ti-backspace-filled" onclick="elimina_elementos_tabla('h')" id="boton" type="button"></button></td>
                                
                                </tr>
                                
                                <!-- Subtotal y total -->
                                <tr>
                                  <th colspan="5" class="right-text">Sumas iguales</th>
                                  <td class="right-text">$19,600.00</td>
                                  <td class="right-text">$19,600.00</td>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  
                                  
                                </tr>
                  
                                <tr>
                                  
                                  <th colspan="5" class="right-text">Realizó</th>
                                  <td colspan="6" class="left-text">Jorge García Alonso</td>
                                  
                                </tr>
                              </tbody>
                            </table>
                            
                        </section>
                      </div>
                    </article>
                </div>
            </div> 
            <br>
            <br>
            <br>
            <div class="botones_registrar">
                <button class="btn-medium btn" id="boton_registro" type="submit">Guardar</button>
            </div>
            <br>
            <br>
            <br>

            <div class="modal-container" id="modal-container">
              <div class="modal">
                <form id="formulario2">
                <br>
                <p class="subtitulo-">Concepto</p>
                <hr width="90%"> 
                <div class="contenedor-formulario_">

                  <div class="grupo-input">
                    <div class="label-form">
                      <p class="label-2">Descripción*</p>
                    </div>
                    <div class="input-form">
                      <textarea rows="5" cols="40" placeholder="Descripción" class="input-textarea-2" maxlength="150" id="descripcionMod1" required></textarea>
                    </div>
                  </div>

                  <div class="grupo-input4">
                    <div class="label-form">
                        <p class="label-2">Tipo*</p>
                    </div>
                    <div class="input-form">
                        <select type="text" class="input-format-" placeholder="Ingrese el tipo" id="tipoMod" required maxlength="12">
                        <option value="" selected disabled>Seleccione un tipo</option>
                        <option value="1">Debe</option>
                        <option value="2">Haber</option>
                        
                        </select>
                    </div>
                  </div>

                  <div class="grupo-input">
                    <div class="label-form">
                      <p class="label-2">Monto*</p>
                    </div>
                    <div class="input-form">
                      <input type="text" class="input-format-2" id="montoMod" maxlength="20"
                        placeholder="Ingrese el monto" title="Ingrese el monto" required>
                    </div>
                    <br>
                    <br>
                  </div>
                  <br> 
                </div>
                <br>
                <br> 
                <p class="subtitulo-">Evidencia</p>
                <hr width="90%">
                <div class="contenedor-formulario_">
                  <div class="grupo-input">
                    <div class="label-form">
                      <p class="label-2">Descripción*</p>
                    </div>
                    <div class="input-form">
                      <textarea rows="5" cols="40" placeholder="Descripción" class="input-textarea-2" id="descripcionMod2" required></textarea>
                    </div>
                  </div> 

                  <div class="grupo-input">
                    <div class="label-form">
                      <p class="label-2">Comprobante*</p>
                    </div>
                    <div class="input-form" id="archivo_modal">
                      <input type="file" class="input-format-2" id="archivo"  name="archivo" accept="application/pdf" 
                      title="El archivo debe ser maximo de 3MB" onchange="validarArchivo(this)"  required ></input>
                    </div>
                  </div>

                </div> 
                <div class="botones_actualizar">
                  <button id="guardar_modal" class="btn-mediumm btn" type="button">Guardar</button>
                  <button id="close" class="btn-mediumm btn" type="button">Cancelar</button>
                </div>


              </form>

              </div>
            </div>


        
    </section>
  </main> 

  <script src="js/Vali_Mod_Poliza_Individual.js"></script>
  <script src="js/Vali_Mod_Modal_Poliza_Individual.js"></script> 
  <script src="../../controller/administrativo/js/Modificar_Poliza_Individual.js"></script>
  <script src="../../controller/administrativo/js/Mostrar_Pdf_Polizas.js"></script>
</body>
</html>