<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modificación general de pólizas</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/administrativo/plantilla_admin.css">
  <link rel="stylesheet" href="../../public/css/administrativo/Vista_Polizas.css">
  <link rel="icon" href="../../public/img/ciscig-notch.png" sizes="32x32">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          <img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
          <h1 class="nombre_Ventana">Pólizas</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
        <button class="btn-cerrar-session btn" onclick="window.location.href = '../../controller/login/Logout.php ' ">Cerrar sesión</button>
        <a href="Informacion.html" class="info"><i class="ti ti-info-circle-filled"></i></a>
      </div>
    </div>

    <!-- Menu Desplegable -->
    <div class="container_menu">
      <div class="menu">
        <input type="checkbox" id="check__menu">
        <label id="label__check" for="check__menu">
          <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
        </label>
        <nav>
          <ul>

            <li>
              <a href="#">
                <i class="fa-regular fa-user"></i>
                Usuarios
              </a>

              <ul>
                <li><a id="menuProducto1" href="../../view/administrativo/Vista_Usuarios.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-user-tie"></i>
                Trabajadores
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Trabajadores.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Trabajadores.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-circle-check"></i>
                Certificaciones
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Certificaciones.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Certificaciones.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-chalkboard-user"></i>
                Cursos
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../administrativo/Reg_Cursos.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../administrativo/Vista_Cursos.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-clipboard-list"></i>
                Proyectos
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Proyectos.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Proyectos.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-person-chalkboard"></i>
                Instructores
              </a>

              <ul>
								<li><a id="menuSucursal1" href="../../view/administrativo/Reg_Instructor.html">Registrar</a></li>
								<li><a id="menuSucursal2" href="../../view/administrativo/Vista_Instructor.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-chart-column"></i>
                Seguimiento
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Seguimiento.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Seguimiento.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-file"></i>
                Pólizas
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Polizas_General.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Polizas.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-file-lines"></i>
                Reportes
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Vista_ReporteIn.html">Individual</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_ReporteGral.html">General</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-user-gear"></i>
                Servicios
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Vista_Servicios.html">Mostrar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-briefcase"></i>
                Bolsa de trabajo
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Vista_OfertasAdmin.html">Ofertas</a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <section class="section-main">
      <div class="cabezera">
        <h4 class="h4">Modificación</h4>
      </div>
      <br>
      <p class="subtitulo-1"> Datos generales</p>
      <hr>

        <form class="formulario-de-datos" id="formularioPolGral">
            <div class="grupo-input4">
                <div class="input-form">
                    <div class="label-form">
                        <p class="label-2">Tipo de póliza*</p>
                    </div>
    
                    <select type="text" class="input-format-2"  id="tipo_poliza" name="tipo_poliza">
                    </select>
                </div>

                <div class="input-form">
                    <div class="label-form">
                        <p class="label-2">Concepto general*</p>
                    </div>

                    <div class="input-form">
                        <textarea type="text" name="concepto_gen" id="concepto_gen" class="input-textarea"
                          placeholder="Ingrese el concepto general" required maxlength="400"
                          title="El concepto general solo puede contener letras, números, y caracteres especiales (',', ., -, _, ;, :, #, comillas dobles)."></textarea>
                        </div></textarea>
                    </div>
                </div>
            </div>

            <div class="grupo-input4">
                <div class="input-form">
                    <div class="label-form">
                        <p class="label-2">Usuario*</p>
                    </div>
    
                    <select type="text" class="input-format-2"  id="usuario" name="usuario">
                    </select>
                </div>
    
                <div class="input-form">
                    <div class="label-form">
                        <p class="label-2">Nombre del usuario*</p>
                    </div>
    
                    <select type="text" class="input-format-2"  id="nombre_us" name="nombre_us">
                    </select>
                </div>

            </div>

            <div class="grupo-input4">
                <div class="input-form">
                    <div class="label-form">
                        <p class="label-2">Servicio*</p>
                    </div>

                    <select type="text" class="input-format-2"  id="tipo_servicio" name="tipo_servicio">
                    </select>
                </div>

                <div class="input-form">
                    <div class="label-form">
                        <p class="label-2">Nombre del servicio*</p>
                    </div>

                    <select type="text" class="input-format-2"  id="nom_servicio" name="nom_servicio">
                    </select>
                </div>
            </div>
            <br>

            <div class="grupo-input3">
                <p class="subtitulo-2">Realizado por*</p>
                <hr>    
            </div>

            <div class="grupo-input">
                <div class="label-form">
                    <p class="label-2">Nombre*</p>
                </div>

                <div class="input-form">
                    <input type="text" class="input-format-2" id="nombre" name="nombre" 
                      placeholder="Ingrese su nombre" required maxlength="40"
                      title='El nombre solo puede contener letras mayúsculas, minúsculas y el símbolo "."'>
                </div>
            </div>          

            <div class="grupo-input">
                <div class="label-form">
                    <p class="label-2">Apellido paterno*</p>
                </div>

                <div class="input-form">
                    <input type="text" class="input-format-2" id="apellido_pat" name="apellido_pat"
                      placeholder="Ingrese su apellido paterno" required maxlength="20"
                      title='El apellido paterno solo puede contener letras mayúsculas y minúsculas'>
                </div>
            </div>

            <div class="grupo-input">
                <div class="label-form">
                    <p class="label-2">Apellido materno</p>
                </div>

                <div class="input-form">
                    <input type="text" class="input-format-2" id="apellido_mat" name="apellido_mat"
                      placeholder="Ingrese su apellido materno" maxlength="20"
                      title='El apellido materno solo puede contener letras mayúsculas y minúsculas'>
                </div>
            </div>
            <br>

            <div class="grupo-boton-reg">
              <div class="boton_registrar">
                <button type="submit" name="actualizar" id="actualizar" class="btn-medium btn">Actualizar</button>&nbsp;&nbsp;
                <button type="button" name="cancelar" id="cancelar" class="btn-medium btn" >Cancelar</button>
              </div>
            </div>
            
        </form>
    </section>
  </main>
  <script src="../../view/administrativo/js/Vali_Mod_Gral_Polizas.js"></script>
  <script src="../../controller/administrativo/js/Modificar_Polizas_Gral.js"></script>
</body>
</html>>