<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de certificaciones</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/administrativo/plantilla_admin.css">
  <link rel="stylesheet" href="../../public/css/administrativo/Reg_Certificaciones.css">
</head>

<body>
  <header>
    <div class="header_superior">
      <div class="titulo">

        <div class="nombre_ventana">
          <img class="logo_ciscig" src="../../public/img/LOGO_CISCIG-white.png" width="10px" alt="">
          <h1 class="nombre_Ventana">Certificaciones</h1>
        </div>

      </div>

      <div class="boton-cerrar-session">
        <button class="btn-cerrar-session btn">Cerrar sesión</button>
      </div>
    </div>

    <!-- Menu Desplegable -->
    <div class="container_menu">
      <div class="menu">
        <input type="checkbox" id="check__menu">
        <label id="label__check" for="check__menu">
          <i class="fa-sharp fa-solid fa-bars icon__menu"></i>
        </label>
        <nav>
          <ul>

            <li>
              <a href="#">
                <i class="fa-regular fa-user"></i>
                Usuarios
              </a>

              <ul>
                <li><a id="menuProducto1" href="#">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-user-tie"></i>
                Trabajadores
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Trabajadores.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Trabajadores.php">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-circle-check"></i>
                Certificaciones
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Certificaciones.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Certificaciones.php">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-chalkboard-user"></i>
                Cursos
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Cursos.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Cursos.php">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-clipboard-list"></i>
                Proyectos
              </a>

              <ul>
                <li><a id="menuSucursal1" href="../../view/administrativo/Reg_Proyectos.html">Registrar</a></li>
                <li><a id="menuSucursal2" href="../../view/administrativo/Vista_Proyectos.php">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-person-chalkboard"></i>
                Instructores
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Registrar</a></li>
                <li><a id="menuSucursal2" href="#">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-chart-column"></i>
                Seguimiento
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Registrar</a></li>
                <li><a id="menuSucursal2" href="#">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-file"></i>
                Pólizas
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Registrar</a></li>
                <li><a id="menuSucursal2" href="#">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-file-lines"></i>
                Reportes
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Individual</a></li>
                <li><a id="menuSucursal2" href="#">General</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-user-gear"></i>
                Servicios
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Visualizar</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-briefcase"></i>
                Bolsa de trabajo
              </a>

              <ul>
                <li><a id="menuSucursal1" href="#">Ofertas</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <!-- script para la foto -->
    <script src="js/Cargar_Logo.js"></script>
    <section class="section-main">
      <div class="cabezera">
        <h4 class="h4">Registro de certificaciones</h4>
      </div>
      <br>
      <p class="subtitulo-1"> Datos generales</p>
      <hr>

      <form class="formulario-de-datos" id="formulario" , name="formulario">
        <div class="label-form">
          <p class="label-2">Logo</p>

          <div class="photo">
            <div class="prevPhoto">
              <span class="delPhoto notBlock">X</span>
              <label for="inputLogo"></label>
            </div>
            <div class="upimg">
              <input type="file" name="inputLogo" id="inputLogo" class="input-format-2">
            </div>
            <div id="form_alert"></div>
          </div>
        </div>

        <div class="grupo-input">
          <div class="label-form">
            <p class="label-2">Nombre</p>
          </div>
          <div class="input-form">
            <input type="text" class="input-format-2" placeholder="Ingrese el nombre aquí" name="nombre" , id="nombre" required maxlength="60">
          </div>
        </div>

        <div class="grupo-input">
          <div class="label-form">
            <p class="label-2">Precio general</p>
          </div>
          <div class="input-form">
            <input type="text" class="input-format-2" placeholder="Ingrese el precio" name="precioGen" , id="precioGen"
              required>
          </div>
        </div>

        <div class="grupo-input">
          <div class="label-form">
            <p class="label-2">Precio socio/asociado</p>
          </div>
          <div class="input-form">
            <input type="text" class="input-format-2" placeholder="Ingrese el precio" name="precioAsoc" ,
              id="precioAsoc" required>
          </div>
        </div>

        <div class="grupo-input2">
          <div class="label-form">
            <p class="label-2">Descripción</p>
          </div>
          <div class="input-form">
            <textarea type="text" class="input-textarea-2" placeholder="Ingrese la descripción aquí" name="descripcion", id="descripcion" required maxlength="1000"></textarea>
          </div>
        </div>

        <div class="grupo-boton-reg">
          <div class="boton_registrar">
            <button type="submit" name="registrar" id="registrar" class="btn-medium btn">Registrar</button>
          </div>
        </div>
      </form>
    </section>
  </main>
  <script src="js/Vali_Certificaciones.js"></script>
</body>

<script src="../../controller/administrativo/js/Registro_Certificaciones.js"></script>

</html>