<script src="../../view/login/js/Verificar_Permiso_Trabajador.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vizualización certificaciones</title>
  <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/administrativo/plantilla_admin.css">
  <link rel="stylesheet" href="../../public/css/administrativo/Vista_Certificaciones.css">
</head>
<body>
    <main>
        <div>
          <div class="article-tablas">
            <article>
                <div class="cabezera">
                    <h4 class="h4">Nombre actividad</h4>
                  </div>
                  <p class="subtitulo-1">Periodo</p>
                  <hr>
              <div class="grupo-input">
                <div class="input-form">
                  <input type="search" class="input-format-2" placeholder="Buscar" name="busqueda" id="busqueda">
                </div>
              </div>
              <br>
              <div class="tablas">
                <section class="header_table" id="tablaResultado">
                    <div class="table">
                        <table>
                        <div class="header_table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Hotel</th>
                                    <th>Transporte</th>
                                    <th>Comida</th>
                                    <th>Oficina</th>
                                    <th>Honorarios</th>
                                    <th>Subtotal gastos</th>
                                    <th>Ingresos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>Python</td>
                                  <td>10</td>
                                  <td>10</td>
                                  <td>10</td>
                                  <td>10</td>
                                  <td>10</td>
                                  <td>50</td>
                                  <td>100</td>
                                </tr>
                                <tr>
                                    <td>Java</td>
                                    <td>20</td>
                                    <td>10</td>
                                    <td>20</td>
                                    <td>10</td>
                                    <td>20</td>
                                    <td>80</td>
                                    <td>500</td>
                                </tr>
                              </tbody>
                        </div>
                        </table>
                </section>
                
              </div>
            </article>
            <div class="grupo-boton-reg">
                <div class="boton_registrar">
                  <button type="submit" name="descargar" id="descargar" class="btn-medium btn">Descargar reporte</button>
                </div>
          </div>
        </div>
    </main>
</body>
</html>