<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Trabajadores</title>
    <script src="https://kit.fontawesome.com/f8c41f1595.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/administrativo/plantilla_admin.css">
	<link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/administrativo/vista_trabajadores.css">
</head>
<body>
    <div class="contePlantilla" >
		<h3>Vista </h3>
		<hr size="1px"/>
		<br>
        <p class="subtitulo-1"> Vista general trabajadores</p>
		<div class="contenedor-formulario">
			<div></div>
			<div class="grupo-input">
				<div class="input-form">
					<input type="text" class="input-busca"placeholder="Buscar..">
				</div>
			</div>
		</div>
		<br>
        <div class="table">
            <div class="header_table">
                <table>
                    <thead>
                        <tr>
                            <th>RFC</th>
                            <th>Nombre</th>
                            <th>Apellido paterno</th>
                            <th>Apellido materno</th>
                            <th>Correo electronico</th>
                            <th>Teléfono</th>
                            <th>Contraseña</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0001</td>
                            <td>Python para principiantes</td>
                            <td>200 hrs</td>
                            <td>0001</td>
                            <td>Python para principiantes</td>
                            <td>200 hrs</td>
                            <td>200 hrs</td>
                            <td>
                                <a href="#">Modificar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Python para principiantes</td>
                            <td>200 hrs</td>
                            <td>0001</td>
                            <td>Python para principiantes</td>
                            <td>200 hrs</td>
                            <td>200 hrs</td>
                            <td>
                                <a href="#">Modificar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>Python para principiantes</td>
                            <td>200 hrs</td>
                            <td>0001</td>
                            <td>Python para principiantes</td>
                            <td>200 hrs</td>
                            <td>200 hrs</td>
                            <td>
                                <a href="#">Modificar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>