<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav class="contePlantilla" >
		<h3>Registro empresarial </h3>
        <h5>Datos generales</h5>
        <hr size="1px"/> 
		<h6>RFC fiscal</h6>
        <input type="text" class="input-format" placeholder="Ingresa tu RFC">
        <h6>Nombre comercial</h6>
        <input type="text" class="input-format" placeholder="Ingresa el nombre">
        <h6>Correo laboral</h6>
        <input type="text" class="input-format" placeholder="Ingresa el correo">
        <h6>Razon social</h6>
        <input type="text" class="input-format" placeholder="Dame una razon social"> 
        <h6>Contraseña</h6>
        <input type="text" class="input-format" placeholder="Ingresa la contraseña">
        <h6>Confirmar contraseña</h6>
        <input type="text" class="input-format" placeholder="Confirma la contraseña "> 
        <h5>Domicilio fiscal</h5>
        <hr size="1px"/>  
        <h6>Calle y número</h6>
        <input type="text" class="input-format" placeholder="Ingresa la calle y #">
        <h6>Colonia</h6>
        <input type="text" class="input-format" placeholder="Ingresa la colonia">
        <h6>Ciudad</h6>
        <input type="text" class="input-format" placeholder="Ingresa tu ciudad">
        <h6>Estado</h6>
        <input type="text" class="input-format" placeholder="Ingresa tu estado">
        <h6>Código postal</h6>
        <input type="text" class="input-format" placeholder="Ingresa tu código postal"> 
        <h5>Horario laboral </h5>
        <hr size="1px"/>  
        <h6>Hora de inicio</h6>
        <input type="time" class="input-format" placeholder="Time">
        <h6>Hora de fin</h6>
        <input type="time" class="input-format" placeholder="Time"> 
        <h6>Lunes</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox">
        <h6>Martes</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox">
        <h6>Miercoles</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox">
        <h6>Jueves</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox">
        <h6>Viernes</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox">
        <h6>Sabado</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox">
        <h6>Domingo</h6>
        <input type="checkbox" class="checkbox-format" placeholder="Checkbox"> 
        <h5>Areas </h5> 
        <hr size="1px"/>

        <h5>Area de recursos humanos </h5>  
        <h6>Nombre del director</h6>
        <input type="text" class="input-format" placeholder="Ingresa el nombre">
        <h6>Ap. paterno</h6>
        <input type="text" class="input-format" placeholder="Ingresa el ap. paterno"> 
        <h6>Ap. materno</h6>
        <input type="text" class="input-format" placeholder="Ingresa el ap. materno"> 
        <h6>Número de teléfono</h6>
        <input type="text" class="input-format" placeholder="Ingresa el teléfono">
        <h6>Extensión</h6>
        <input type="text" class="input-format" placeholder="Ingresa la extension"> 
        <h6>Correo</h6>
        <input type="text" class="input-format" placeholder="Ingresa el correo ">

        <h5>Area de TI </h5>  
        <h6>Nombre del director</h6>
        <input type="text" class="input-format" placeholder="Ingresa el nombre">
        <h6>Ap. paterno</h6>
        <input type="text" class="input-format" placeholder="Ingresa el ap. paterno"> 
        <h6>Ap. materno</h6>
        <input type="text" class="input-format" placeholder="Ingresa el ap. materno"> 
        <h6>Número de teléfono</h6>
        <input type="text" class="input-format" placeholder="Ingresa el teléfono">
        <h6>Extensión</h6>
        <input type="text" class="input-format" placeholder="Ingresa la extension"> 
        <h6>Correo</h6>
        <input type="text" class="input-format" placeholder="Ingresa el correo "> 

        <h5>Area de Capacitación </h5>  
        <h6>Nombre del director</h6>
        <input type="text" class="input-format" placeholder="Ingresa el nombre">
        <h6>Ap. paterno</h6>
        <input type="text" class="input-format" placeholder="Ingresa el ap. paterno"> 
        <h6>Ap. materno</h6>
        <input type="text" class="input-format" placeholder="Ingresa el ap. materno"> 
        <h6>Número de teléfono</h6>
        <input type="text" class="input-format" placeholder="Ingresa el teléfono">
        <h6>Extensión</h6>
        <input type="text" class="input-format" placeholder="Ingresa la extension"> 
        <h6>Correo</h6>
        <input type="text" class="input-format" placeholder="Ingresa el correo "> <br> 

        <button type="button", class="btn-large btn">Registrar</button>  
        <br>
        <input disabled class="btn-large btn" type="submit" value="Registrar">
    </nav>
</body>
</html> 